<ul class="nav navbar-nav navbar-right">
  

  <li class="navmenu-icon navmenu-divider active dropdown"> 
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lg fa-bell hidden-xs"></i><span class="hidden-sm hidden-md hidden-lg">Notifications</span><span class="badge">1</span></a></a>
    <div class="dropdown-menu alerts-messages-dropdown">
      <ul class="list-unstyled alerts-messages-list">
        <li class="unread">
          <a href="#"=>
            <span class="alert-type">Updated Content</span> 
            <span class="alert-title">We've updated Types 2 Diabetes - Epidemiology - Mature Markets Data</span> 
            <span class="alert-date">26 July 2016</span> 
          </a>
        </li>
        <li>
          <a href="alerts1.html">
            <span class="alert-type">Platform Update</span> 
            <span class="alert-title">We've improved the search experience</span> 
            <span class="alert-date">21 June 2016</span> 
          </a>
        </li>
        <li>
          <a href="#"=>
            <span class="alert-type">New Content</span> 
            <span class="alert-title">We've added 2 new modules for Types 2 Diabetes</span> 
            <span class="alert-date">9 June 2016</span> 
          </a>
        </li>
        <li>
          <a href="#"=>
            <span class="alert-type">Updated Content</span> 
            <span class="alert-title">We've updated 6 modules for Types 2 Diabetes</span> 
            <span class="alert-date">4 June 2016</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="alert-type">New Content</span> 
            <span class="alert-title">We've added Type 2 Diabetes - Emerging Therapies - DrugName Launch Tracking Wave 1 (US)</span> 
            <span class="alert-date">29 May 2016</span>
          </a>
        </li>
      </ul>
      <div class="dropdown-footer">
        <a href="alerts1.html">My Notifications <span class="badge">1</span></a>
        <a href="alerts2.html">My Settings</a>
      </div>

      </div>
    </div>
  </li>
  
  <li class="navmenu-icon"><a href="#" data-toggle="modal" data-target="#contactFrom"><i class="fa fa-lg fa-comment hidden-xs"></i><span class="hidden-sm hidden-md hidden-lg">Contact Us</span></a></li>
  <li class="dropdown navmenu-icon"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lg fa-user hidden-xs"></i><span class="hidden-sm hidden-md hidden-lg">Steve Clark</span><b class="hidden-sm hidden-md hidden-lg caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="https://authentication.decisionresourcesgroup.com/login/MyProfile">Edit Profile</a></li>
      <li><a href="https://authentication.decisionresourcesgroup.com/login/Password/ChangePassword">Change Password</a></li>
      <li><a href="https://authentication.decisionresourcesgroup.com/login/Logout">Log Out</a></li>
    </ul>
  </li>
</ul>

<script type="text/javascript">
$(document).on('mouseenter', '.product-menu [data-toggle="tab"]', function () {
  $(this).tab('show');
});  
</script>