              <div class="search-results-details">
                <p class="pull-left">26 Items Found</p>
                <div class="sort-btn pull-right"> 
                  <span class="btn-label">Sorted by</span> 
                  <div class="btn-group title-button">
                    <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <span id="sortBy">Relevance</span> <span class="caret"></span></button>
                    <ul class="dropdown-menu pull-right" role="menu">
                      <li id="score" class="active"><a href="#">Relevance</a></li>
                      <li id="date"><a href="#">Publication Date</a></li>
                    </ul>
                  </div>
                </div> 
                <div class="clearfix"></div>         
              </div>

              <article class="search-result-new owned-result" id="searchTour1">
                <h1 class="result-title"><a href="devicecat-2.html"><span class="search-highlight">Heart Valve Devices</span> - Market Insight - United States 2017</a></h1>
                <p class="result-description">The US <span class="search-highlight">heart valve device</span> market is large and growing, driven by the continued adoption and launch of THV devices, as well as an aging population. The competitive landscape for the <span class="search-highlight">heart valves</span> market continues...</p>
                <div class="result-meta" id="searchTour2">
                  <span class="matches collapsed" data-toggle="collapse" data-target="#result1"  id="tourExpand"><i class="fa fa-plus-square"></i> Show Matches</span>
                  <span class="owned-tag">Owned</span>   
                  <span class="pub-date"><i class="fa fa-calendar"></i> 20 Dec 2016</span> 
                  <span class="btn-group" id="tourDownload">
                    <a href="#" class="dropdown-toggle btn btn-link" data-toggle="dropdown" aria-expanded="false"><span class="fa fa-arrow-circle-down"></span> Download <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#"><span class="icon icon-pdf"></span> M360HV0043.pdf</a></li>
                    </ul>
                  </span> 
                </div>                    
                <div class="collapse chapter-matches" id="result1">
                  <ul class="list-unstyled list-chapters">
                    <li><strong>Chapters</strong></li>
                    <li><span class="matches collapsed count" data-toggle="collapse" data-target="#result1-1"><i class="fa fa-plus-square"></i> 7 Matches</span><a href="#">Executive Summary</a>
                      <ul class="list-unstyled collapse" id="result1-1">
                        <li><a href="#"><i class="fa fa-fw fa-align-left"></i> Heart Valve Devices Covered, US</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-align-left"></i> Recent Events in the Heart Valve Device Market, US</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-table"></i> Heart Valve Device Procedures, by Product Type, US, 2015–2025     </a></li>
                        <li><a href="#"><i class="fa fa-fw fa-bar-chart"></i> Heart Valve Device Market, by Product Type, US (USD), 2015–2025</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-bar-chart"></i> Heart Valve Device Market, by Product Type, US (USD), 2015–2025</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-bar-chart"></i> Heart Valve Device Procedures, by Position, as a % of Total, US, 2015–2025</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-table"></i> Heart Valve Device Revenue Market Share Rankings, by Product Type, US, 2016</a></li>
                      </ul>
                    </li>
                    <li><span class="matches collapsed count" data-toggle="collapse" data-target="#result1-2"><i class="fa fa-plus-square"></i> 5 Matches</span><a href="#">Heart Valve Device Market</a>
                    
                      <ul class="list-unstyled collapse" id="result1-2">
                        <li><a href="#"><i class="fa fa-fw fa-table"></i> Heart Valve Device Procedures, by Product Type, US, 2015–2025</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-bar-chart"></i> Heart Valve Device Market, by Product Type, US (USD), 2015–2025</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-bar-chart"></i> Heart Valve Device Market, by Product Type, US (USD), 2015–2025</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-bar-chart"></i> Heart Valve Device Procedures, by Position, as a % of Total, US, 2015–2025</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-table"></i> Heart Valve Device Revenue Market Share Rankings, by Product Type, US, 2016</a></li>
                      </ul>
                    </li>
                    <li><span class="matches count" data-toggle="collapse" data-target="#result1-3"><i class="fa fa-plus-square"></i> 2 Matches</span><a href="#">Heart Valve Replacement Device Market</a>
                      <ul class="list-unstyled collapse" id="result1-3">
                        <li><a href="#"><i class="fa fa-fw fa-table"></i> Heart Valve Device Procedures, by Product Type, US, 2015–2025</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-bar-chart"></i> Heart Valve Device Market, by Product Type, US (USD), 2015–2025</a></li>
                      </ul>
                    </li>
                    <li><span class="matches collapsed count" data-toggle="collapse" data-target="#result1-4"><i class="fa fa-plus-square"></i> 4 Matches</span><a href="#">Heart Valve Repair Device Market</a>
                      <ul class="list-unstyled collapse" id="result1-4">
                        <li><a href="#"><i class="fa fa-fw fa-table"></i> Heart Valve Device Procedures, by Product Type, US, 2015–2025     </a></li>
                        <li><a href="#"><i class="fa fa-fw fa-bar-chart"></i> Heart Valve Device Market, by Product Type, US (USD), 2015–2025</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-bar-chart"></i> Heart Valve Device Market, by Product Type, US (USD), 2015–2025</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-bar-chart"></i> Heart Valve Device Procedures, by Position, as a % of Total, US, 2015–2025</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Appendix</a></li>
                  </ul>
                </div>
              </article>

              <article class="search-result-new not-owned-result">
                <h1 class="result-title"><a href="#"><span class="search-highlight">Heart Valve Devices</span> - Commercial Targeting - Heart Valves in United States</a></h1>
                <p class="result-description">Lorem ipsum dolor sit <span class="search-highlight">heart valve device</span>, consectetur adipiscing elit. Phasellus iaculis pharetra lorem, non posuere dui venenatis et. Vivamus sit amet risus a magna congue dignissim. Vestibulum molestie quam vitae risus...</p>
                <div class="result-meta">
                  <span class="owned-tag">Owned</span>   
                  <span class="pub-date"><i class="fa fa-calendar"></i> 9 Apr 2016</span>  
                </div> 
              </article>  

              <article class="search-result-new not-owned-result">
                <h1 class="result-title"><a href="#" data-toggle="modal" data-target="#reportModal"><span class="search-highlight">Heart Valve Devices</span> - Market Insight - Japan 2017</a></h1>
                <p class="result-description">The Japanese <span class="search-highlight">heart valve device</span> market is large and growing, driven by an aging population as well as the rapid adoption of TAVR devices. This report provides comprehensive data and analysis on the current state of the market for <span class="search-highlight">heart valve</span></p>
                <div class="result-meta">
                  <span class="matches collapsed" data-toggle="collapse"><i class="fa fa-plus-square"></i> Show Matches</span></span>
                  <span class="not-owned-tag">Not Owned</span>   
                  <span class="pub-date"><i class="fa fa-calendar"></i> 9 Apr 2016</span>  
                </div> 
              </article>              
              
              <article class="search-result-new owned-result">
                <h1 class="result-title"><a href="#" data-toggle="modal" data-target="#reportModal"><span class="search-highlight">Heart Valve Devices</span> - Market Insight - United States 2016</a></h1>
                <p class="result-description">Heart Valve Devices (T2D) is a complex metabolic disorder characterized by a declining ability to produce or utilize insulin. The chronic and progressive nature of the disease, as well as its complications and comorbidities...</p>
                <div class="result-meta">
                  <span class="matches collapsed" data-toggle="collapse" data-target="#result2"><i class="fa fa-plus-square"></i> Show Matches</span></span>
                  <span class="owned-tag">Owned</span>   
                  <span class="pub-date"><i class="fa fa-calendar"></i> 9 Apr 2016</span> 
                  <span class="btn-group">
                    <a href="#" class="dropdown-toggle btn btn-link" data-toggle="dropdown" aria-expanded="false"><span class="fa fa-arrow-circle-down"></span> Download <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#"><span class="icon icon-pdf"></span> Name of file 1</a></li>
                      <li><a href="#"><span class="icon icon-excel"></span> Name of File 2</a></li>
                    </ul>
                  </span> 
                </div>
                <a href="devicecat-2.html" class="alert alert-warning">
                  <i class="fa fa-lg fa-exclamation-circle"></i> There is a newer version of this report available - <strong>Click here to learn more</strong>
                </a>  
              </article>

              <article class="search-result-new not-owned-result">
                <h1 class="result-title"><a href="#"><span class="search-highlight">Heart Valve Devices</span> - Brand Tracking - Heart Valves in United States</a></h1>
                <p class="result-description">Lorem ipsum dolor sit <span class="search-highlight">heart valve device</span>, consectetur adipiscing elit. Phasellus iaculis pharetra lorem, non posuere dui venenatis et. Vivamus sit amet risus a magna congue dignissim. Vestibulum molestie quam vitae risus...</p>
                <div class="result-meta">
                  <span class="owned-tag">Owned</span>   
                  <span class="pub-date"><i class="fa fa-calendar"></i> 9 Apr 2016</span>  
                </div> 
              </article> 
              
              <article class="search-result-new search-loading">
                <p><i class="fa fa-circle-o-notch fa-spin"></i> &nbsp;Loading More Reports</p>
              </article>