          <h2>Unordered Lists</h2>
          <h3>Unordered list that uses <code>ul</code> and <code>li</code> but also <code>p</code></h3>
          <ul class="round-bullets">
            <li><p>The launch of several novel branded agents and the consequent increases in diagnosed and drug-treated populations will be the main factors facilitating growth in the market for obesity drugs over the first half of the 2014-2024 study period, driven largely by the U.S. market.</p></li>
            <li><p>Despite the large market opportunity for novel obesity treatments, limited physician education regarding pharmacotherapy for obesity, prescribers' caution over&nbsp;historical safety issues, the lack of a highly efficacious, safe, affordable, oral agent, and difficult reimbursement environments in most countries under study will constrain the obesity market.</p></li>
          	<li><p>Early prescription estimates of Contrave in the United States suggest that physicians find this agent more acceptable than Qsymia and Belviq.</span></p></li>
          	<li><p>Interviewed thought leaders express considerable interest in the use of Novo Nordisk’s Saxenda (a 3 mg formulation of liraglutide) to treat obesity, given its potential to also reduce progression from prediabetes to type 2 diabetes.</p></li>
            <li><p>We forecast Saxenda, beloranib, and Contrave/Mysimba to be vying for sales leadership <span style="line-height: 1.6;">by the end of the study period.</span></p></li>
            <li><p>Assuming current reimbursement policies remain the same, we expect sales across the total obesity market under study (United States, France, Germany, Italy, Spain, United Kingdom, and Japan) to increase from approximately $500 million in 2014 to approximately $3 billion in 2024.</p></li>
          </ul>
          <div class="alert alert-warning"><strong>TO BE DONE BY DEV</strong><br>- Add the class <code>.round-bullets</code> to every <code>ul</code>. <br><br><strong>DONE WITH CSS</strong><br>- Removed the bottom margin from all <code>p</code> tags that appear in an <code>ul</code>.<br><br><strong>TO BE DONE IN CMS</strong><br>- Don't include <code>p</code> tags in an <code>ul</code></div>
          

          <h3>Unordered list that uses <code>p.bullet1</code></h3>
          <p class="bullet1"> The US diabetes care device market will expand fast at a CAGR of approximately 9% to reach over $33 billion by 2023. A major driver of this growth will be expanding insurance coverage for patients, especially because diabetes is an extremely expensive condition, typically involving significant out-of-pocket expenses. Additionally, new devices are being developed with improved capabilities, which could increase the cost of diabetes management for patients. Therefore, insurance coverage will be a key factor affecting patients' decisions regarding the devices they use.</p>
          <p class="bullet1"> While some of the markets for more commoditized diabetes care devices will see greater price competition that will result in declining ASPs, the price of insulin itself is expected to increase over the forecast period. Overall revenues will  expand due torising unit sales.</p>
          <p class="bullet1"> The diabetes care device market will also be bolstered by the emergence of a number of new and premium-priced innovations; for example, the Finesse from Johnson &amp; Johnson and the SOLO MicroPump from Roche—which are innovative patch pumps that include integrated glucose monitoring systems—have both gained FDA approval and will likely be launched in the market over the forecast period.</p>
          <div class="alert alert-warning"><strong>DONE WITH CSS</strong><br>- Styled <code>p.bullet1</code> to look the same as <code>ul.round-bullets</code>.<br><br><strong>TO BE DONE IN CMS</strong><br>- Use semantic <code>ul.round-bullets</code> and <code>li</code> tags instead of <code>p.bullet1</code>.</div>
          
          <h3>Unordered List that uses <code>style="list-style-type: circle;"</code></h3>
          <ul class="round-bullets">
            <li><strong><em>This report is based on a survey of </em></strong><strong><em>141 physicians, including 71 endocrinologists and 70 PCPs, as well as 33 </em></strong><strong><em>MCO </em></strong><strong><em>pharmacy and medical directors. </em></strong>We examine the reimbursement and treatment decisions that affect prescribing of and access to select branded agents used to treat type 2 diabetes.</li>
            <li><strong><em>Type </em></strong><strong><em>2 diabetes is a complex metabolic disorder characterized by a declining ability to produce or utilize insulin. </em></strong>Type 2 diabetes has traditionally been controlled initially with diet and exercise before patients progress to metformin monotherapy and then oral combination therapy. Injectable agents, such as GLP-1 receptor agonists and insulins, are typically introduced as later-line therapies as the disease progresses. Most patients will eventually require treatment with insulin in the late stages of their disease following the failure of earlier lines of antidiabetic therapy.</li>
            <li><strong><em>Current treatment of type 2 diabetes encompasses drugs from several </em></strong><strong><em>classes, including </em></strong><strong><em>several that have been in use for </em></strong><strong><em>decades </em></strong><strong><em>as well as others that are completely novel. </em></strong>Despite the solid efficacy, and the improvement in safety and tolerability of newer agents over older drugs, a large level of unmet need remains across the antidiabetic classes, presenting opportunity for novel agents to enter the type 2 diabetes market and realize commercial success. In addition, the growing prevalence of diabetes in the United States, reflecting an increase in overweight/obese patients as well as an aging population, creates a significant opportunity for emerging therapies.</li>
          </ul>
          <div class="alert alert-warning"><strong>TO BE DONE BY DEV</strong><br>- Strip out inline styles.<br>- Add the class <code>.round-bullets</code> to every <code>ul</code>. <br><br><strong>TO BE DONE IN CMS</strong><br>- Use semantic <code>ul.round-bullets</code> and <code>li</code> tags instead of inline styles.</div>
          
          <h3>Nested Bullets</h3>
          
          <ul class="round-bullets">
            <li>June 2015—Roche proceeds directly to a Phase III study to evaluate MPDL-3280A in metastatic triple-negative breast cancer.<sup>1</sup>
              <ul class="round-bullets">
                <li>This study will determine the efficacy and safety of MPDL-3280A in combination with Abraxane versus Abraxane alone in previously untreated metastatic triple-negative breast cancer.</li>
              </ul>
            </li>
            <li>April 2015—Pfizer announces early release of positive PFS data for Ibrance in combination with Faslodex versus Faslodex alone from the Phase III PALOMA-3 trial.<sup>2</sup>
              <ul class="round-bullets">
                <li>Detailed efficacy and safety results from PALOMA-3 will be submitted for presentation at the annual meeting of the American Society of Clinical Oncology (ASCO) in 2015.
                  <ul class="round-bullets">
                    <li>Third level of bullets.</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>March 2015—Nektar Therapeutics announces that its topoisomerase inhibitor NKTR-102 (etirinotecan pegol) failed to demonstrate a statistically significant improvement in OS in its Phase III BEACON trial in patients who had received a median of three previous lines of therapy.<sup>3</sup></li>
            <li>February 2015—Pfizer announces that the FDA awarded Ibrance (palbociclib) accelerated approval, more than two months ahead of schedule, for first-line use in HER2-/HR+ postmenopausal patients in combination with letrozole based on a doubling in PFS versus letrozole alone.<sup>4</sup></li>
            <li>December 2014—Roche/Genentech’s Kadcyla (T-DM1) fails to deliver a significant improvement in progression-free survival in the Phase III MARIANNE trial.<sup>5</sup>
              <ul class="round-bullets">
                <li>Roche announced that both Kadcyla monotherapy and the combination of Kadcyla plus Perjeta in the Phase III MARIANNE trial in first-line advanced/metastatic HER2-positive breast cancer did not demonstrate superior PFS over Herceptin plus a taxane. Thus, based on current data, Kadcyla is unlikely to be elevated from its current second-line position to the more-lucrative first-line setting.</li>
              </ul>
            </li>
            <li>December 2014—Phase I data on Merck &amp; Co.’s PD-1 inhibitor Keytruda (pembrolizumab) are presented at the San Antonio Breast Cancer Conference.<sup>6</sup>
              <ul class="round-bullets">
                <li>Keytruda showed only a modest overall response rate of 18.5% in heavily pretreated triple-negative (HER2-/HR-) patients, although response durations for three patients exceeded 11 months. Breast cancer has not been a high-priority indication for the development of checkpoint inhibitors because other indications are more sensitive to an immune therapy approach. However, the authors concluded that the signal is sufficient to warrant further investigation.</li>
              </ul>
            </li>
            <li>Aug 2014—Pfizer initiates a multicenter, open-label expanded access program (EAP) in the United States for Ibrance.<sup>7</sup>
              <ul class="round-bullets">
                <li>The Ibrance EAP is a single-arm, open-label study for postmenopausal women with HR+/HER2- advanced/metastatic breast cancer. Women enrolled in the study will receive Ibrance for use in combination with letrozole.</li>
              </ul>
            </li>
            <li>July 2014—Eli Lilly’s CDK 4/6 inhibitor abemaciclib enters Phase III development.<sup>8</sup>
              <ul class="round-bullets">
                <li>Lilly began a Phase III trial (MONARCH2) of abemaciclib in combination with AstraZeneca’s fulvestrant (Faslodex) in the third quarter of 2014. It was preceded by Novartis beginning a Phase III trial (MONALEESA-2) of LEE-011 in combination with letrozole in the fourth quarter of 2013.4 The MONALEESA-2 trial is set to position LEE-011 as a direct competitor to palbociclib as a first-line treatment option for advanced disease.</li>
                </ul>
              </li>
              <li>March 2014—Novartis announces the approval of everolimus (Afinitor) in Japan.<sup>9</sup>
              <ul class="round-bullets">
                <li>In March 2014, Novartis announced the approval of its mTOR inhibitor everolimus in Japan for HR-positive, HER2-negative advanced breast cancer. This approval completes everolimus’s major-market approvals (it was approved in the United States and Europe in 2012). Prior to everolimus’s approval, development of new treatments for advanced/metastatic, HR-positive, HER2-negative breast cancer had stagnated; almost all frequently prescribed hormonal therapies suffered patent expiration.
                  <ul class="round-bullets">
                    <li>Third level of bullets.</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          
          <div class="alert alert-warning"><strong>DONE WITH CSS</strong><br>- Styles added for nested bullets three levels deep.</div>

          
          <h2>Blockquotes</h2>
          
          <h3>Blockquote using the <code>.opinion</code> and <code>.opinionSource</code> class</h3>
          <p class="opinion">"Data will need to be collected showing that if we use these medications, we actually save money in the long run compared with not using medications. Because, let’s face it, with as many overweight and obese people as there are in the U.S., you could easily break the bank if you just started prescribing them for everybody."</p>
          <p class="opinionSource">Thought leader, United States</p>
          <div class="alert alert-warning"><strong>DONE WITH CSS</strong><br>- Styled to look like the <code>blockquote</code> html tag.<br><br><strong>TO BE DONE IN CMS</strong><br>- Use the semantic <code>blockquote</code> and <code>cite</code> tags</div>
          
          <h3>Blockquote using <code>quote</code></h3>
          <p class="quote">
            &quot;We have no specific plans [to replace our current navigation system], but if they develop a robotic-assisted navigation system for total knees then I would be interested in switching.&quot;<br />
            &mdash;Orthopedic surgeon, US
          </p>
          <div class="alert alert-warning"><strong>DONE WITH CSS</strong><br>- Styled to look like the <code>blockquote</code> html tag.<br> - NOTE: cannot style citation because this is done with inline styles that will be stripped out.<br><br><strong>TO BE DONE IN CMS</strong><br>- Use the semantic <code>blockquote</code> and <code>cite</code> tags.</div>
          
          <h2>Tables</h2>
          
          <h3>Table with <code>th</code> but no <code>thead</code>, and <code>footer-right</code></h3>
          
          <table class="table table-break-words">
            <tbody>
              <tr>
                <th><p>Parameter(s)</p></th>
                <th><p>Source<sup>a</sup></p></th>
              </tr>
              <tr>
                <td colspan="2"><p>Total prevalence</p></td>
              </tr>
              <tr>
                <td><p>United States</p></td>
                <td><p><abbr title="Centers for Disease Control and Prevention">CDC</abbr>, 2014 (<abbr title="National Health and Nutrition Examination Survey">NHANES</abbr>, 2009-2012); <abbr title="Centers for Disease Control and Prevention">CDC</abbr>, 2014 (<abbr title="National Health and Nutrition Examination Survey">NHANES</abbr>, 2003-2012)</p></td>
              </tr>
              <tr>
                <td><p>France</p></td>
                <td><p>ObEpi-Roche, 2009</p></td>
              </tr>
              <tr>
                <td><p>Germany</p></td>
                <td><p>DOH, 2012 (<abbr title="Health Survey for England">HSE</abbr>, 2011);&nbsp;Hemmelmann&nbsp;C, 2010</p></td>
              </tr>
              <tr>
                <td><p>Italy</p></td>
                <td><p><abbr title="Istituto Nazionale di Statistica">ISTAT</abbr>, 2009; Micciolo R, 2010</p></td>
              </tr>
              <tr>
                <td><p>Spain</p></td>
                <td><p>Basterra-Gortari&nbsp;FJ, 2011 (Encuesta&nbsp;Nacional&nbsp;de&nbsp;Salud, 2006);&nbsp;Gutiérrez-Fisac JL, 2012 (ENRICA, 2008-2010)</p></td>
              </tr>
              <tr>
                <td><p>United Kingdom</p></td>
                <td><p>DOH, 2014 (<abbr title="Health Survey for England">HSE</abbr>, 2012)</p></td>
              </tr>
              <tr>
                <td><p>Japan</p></td>
                <td><p><abbr title="Ministry of Health, Labor, and Welfare">MHLW</abbr>, 2010 (<abbr title="National Health and Nutrition Survey">NHNS</abbr>, 2007)</p></td>
              </tr>
              <tr>
                <td colspan="2"><p>Severity</p></td>
              </tr>
              <tr>
                <td><p>United States</p></td>
                <td><p><abbr title="Centers for Disease Control and Prevention">CDC</abbr>, 2014 (<abbr title="National Health and Nutrition Examination Survey">NHANES</abbr>, 2009-2012)</p></td>
              </tr>
              <tr>
                <td><p>France</p></td>
                <td><p>Charles MA, 2008&nbsp;(ObEpi, 2006)</p></td>
              </tr>
              <tr>
                <td><p>Germany</p></td>
                <td><p>DOH, 2014 (<abbr title="Health Survey for England">HSE</abbr>, 2012)</p></td>
              </tr>
              <tr>
                <td><p>Italy</p></td>
                <td><p>Charles MA, 2008 (ObEpi, 2006)</p></td>
              </tr>
              <tr>
                <td><p>Spain</p></td>
                <td><p>Basterra-Gortari FJ, 2011 (Encuesta Nacional de Salud, 2006); Charles MA, 2008 (ObEpi, 2006)</p></td>
              </tr>
              <tr>
                <td>United Kingdom</td>
                <td>DOH, 2014 (<abbr title="Health Survey for England">HSE</abbr>, 2012)</td>
              </tr>
              <tr>
                <td colspan="2"><p>a. Full source citations appear in “Bibliography.” Parenthetical entries identify the survey upon which the source study is based and/or the date(s) of data collection.</p></td>
              </tr>
              <tr>
                <td class="footer-right" colspan="2">
                  <p>© 2015 Decision Resources Group. All rights reserved.</p>
                  <p>Source: Decision Resources</p>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="alert alert-warning"><strong>TO BE DONE BY DEV</strong><br>- Add the class <code>table</code> to every table<br>- Strip out all the inline styles, widths and table parameters.<br><br><strong>DONE WITH CSS</strong><br>- Styled each <code>th</code> to look correct even if there is no <code>thead</code>.<br>- Styled <code>footer-right</code> to look the same as source.<br><br><strong>TO BE DONE IN CMS</strong><br>- Use the semantic <code>thead</code> and <code>th</code> for table headers.<br>- NOTE: Does each table need copyright information? <br>- NOTE: Standard way of defining source? Each table seems to do it differently.</div>
  
          <h3>Table with the class <code>header</code> instead of <code>th</code></h3>
          
          <table class="table">
            <tbody>
              <tr>
                <td class="header"><p>The GAP Index</p></td>
                <td class="header"><p>Points</p></td>
                <td class="header"><p>The GAP Index</p></td>
                <td class="header"><p>Points</p></td>
              </tr>
              <tr>
                <td class="oa3" colspan="2" width="476"><p><strong>Gender</strong></p></td>
                <td class="oa3" colspan="2" width="444"><p><strong>Physiology</strong></p></td>
              </tr>
              <tr>
                <td class="oa6"><p>Female</p></td>
                <td class="oa4"><p>0</p></td>
                <td class="oa6"><p>FVC% predicted &gt; 75</p></td>
                <td class="oa4"><p>0</p></td>
              </tr>
              <tr>
                <td class="oa6"><p>Male</p></td>
                <td class="oa4"><p>1</p></td>
                <td class="oa6"><p>FVC% predicted 50-75</p></td>
                <td class="oa4"><p>1</p></td>
              </tr>
              <tr>
                <td class="oa3" colspan="2"><p><strong>Age</strong></p></td>
                <td class="oa3"><p>FVC% predicted &lt; 50</p></td>
                <td class="oa4"><p>2</p></td>
              </tr>
              <tr>
                <td class="oa6"><p>&le; 60</p></td>
                <td class="oa4"><p>0</p></td>
                <td class="oa6"><p>DL<sub>CO</sub>% predicted &gt; 55</p></td>
                <td class="oa4"><p>0</p></td>
              </tr>
              <tr>
                <td class="oa6"><p>61-65</p></td>
                <td class="oa4"><p>1</p></td>
                <td class="oa6"><p>DL<sub>CO</sub>% predicted 36-55</p></td>
                <td class="oa4"><p>1</p></td>
              </tr>
              <tr>
                <td class="oa6"><p>&gt; 65</p></td>
                <td class="oa4"><p>2</p></td>
                <td class="oa3"><p>DL<sub>CO</sub>% predicted &le; 35</p></td>
                <td class="oa4"><p>2</p></td>
              </tr>
              <tr>
                <td class="oa6" ><p></p></td>
                <td class="oa4"><p></p></td>
                <td class="oa3"><p>&nbsp;Cannot perform</p></td>
                <td class="oa4"><p>3</p></td>
              </tr>
              <tr>
                <td class="footer-right" colspan="4" width="255">&copy; 2015 Decision Resources Group. &nbsp;All rights reserved. Source: Decision Resources</td>
              </tr>
            </tbody>
          </table>
          <div class="alert alert-warning"><strong>TO BE DONE BY DEV</strong><br>- Add the class <code>table</code> to every table<br>- Strip out all the inline styles, widths and table parameters.<br><br><strong>DONE WITH CSS</strong><br>- Styled each <code>td.header</code> to look like <code>th</code>.<br>- Styled <code>footer-right</code> to look the same as source.<br><br><strong>TO BE DONE IN CMS</strong><br>- Use the semantic <code>thead</code> and <code>th</code> for table headers.<br>- NOTE: Does each table need copyright information?<br>- NOTE: Standard way of defining source? Each table seems to do it differently.</div>

          <h3>Table that contains <code>p.bullet1</code></h3>
  
          <table class="table table-break-words">
            <thead>
              <tr>
                <th colspan="2"> <p> Outpatient Study to Evaluate Safety and Effectiveness of the Low Glucose Suspend Feature (ASPIRE)</p>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><p> Purpose</p></td>
                <td><p> To determine the safety and effectiveness of the Low Glucose Suspend feature in Medtronic's MiniMed 530G</p></td>
              </tr>
              <tr>
                <td><p> Study design</p></td>
                <td><p class="bullet1"> Sample size: 260</p></td>
              </tr>
              <tr>
                <td><p> Study length</p></td>
                <td><p class="bullet1"> Start date: December 2011</p>
                  <p class="bullet1"> Completion: June 2013</p></td>
              </tr>
              <tr>
                <td><p> Sponsor</p></td>
                <td><p> Medtronic</p></td>
              </tr>
              <tr>
                <td><p> End points/summary of outcome</p></td>
                <td><p class="bullet1"> Primary end point: Mean area under the curve for noctural hypoglycemic events was 37.5% lower in the Threshold Suspend group compared to the control group. Further, the occurrence of events was lower (1.5 vs. 2.2 per patient per week).</p>
                  <p class="bullet1"> Secondary end point:&nbsp;There were no serious adverse events in the Threshold Suspend group and both groups had no change in A1C levels, thus demonstrating that the feature is safe.</p></td>
              </tr>
              <tr>
                <td><p> ClinicalTrials.gov identifier</p></td>
                <td><p> NCT01497938</p></td>
              </tr>
            </tbody>
          </table>
          <div class="alert alert-warning"><strong>TO BE DONE BY DEV</strong><br>- Add the class <code>table</code> to every table<br>- Strip out all the inline styles, widths and table parameters.<br><br><strong>DONE WITH CSS</strong><br>- Styled each <code>p.bullet1</code> to look like <code>ul.round-bullets</code> wihtin a table.<br><br><strong>TO BE DONE IN CMS</strong><br>- Use semantic <code>ul.round-bullets</code> and <code>li</code> tags instead of <code>p.bullet1</code>.</div>

          <h3>Table that contains <code>ul</code></h3>
          
          <table class="table table-break-words">
            <thead>
              <tr>
                <th colspan="2"> <p> Outpatient Study to Evaluate Safety and Effectiveness of the Low Glucose Suspend Feature (ASPIRE)</p>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><p> Study design</p></td>
                <td><ul class="round-bullets"><li> Sample size: 260</li></ul></td>
              </tr>
              <tr>
                <td><p> Study length</p></td>
                <td><ul class="round-bullets"><li> Start date: December 2011</li>
                  <li>Completion: June 2013</li></ul></td>
              </tr>
              <tr>
                <td><p> End points/summary of outcome</p></td>
                <td><ul class="round-bullets"><li> Primary end point: Mean area under the curve for noctural hypoglycemic events was 37.5% lower in the Threshold Suspend group compared to the control group. Further, the occurrence of events was lower (1.5 vs. 2.2 per patient per week).</li>
                  <li> Secondary end point:&nbsp;There were no serious adverse events in the Threshold Suspend group and both groups had no change in A1C levels, thus demonstrating that the feature is safe.</li></ul></td>
              </tr>
            </tbody>
          </table>
          <div class="alert alert-warning"><strong>TO BE DONE BY DEV</strong><br>- Add the class <code>table</code> to every table<br>- Add the class <code>.round-bullets</code> to every <code>ul</code>.<br><br><strong>DONE WITH CSS</strong><br>- Styled each <code>ul.round-bullets</code> to be slightly smaller size within table.</div>
          
          <h3>Data table with a scroll bar</h3>

          <div class="table-responsive">                
            <table border="0" cellpadding="0" cellspacing="1" class="table">
              <thead>
                <tr>
                  <th class="tdheader" style="text-align: left;"> <p style="text-align: left;">Measure</p>
                  </th>
                  <th class="tdheader" style="text-align: left;"> <p style="text-align: left;">Procedure Type</p>
                  </th>
                  <th class="tdheader" style="text-align: right;"> <p style="text-align: right;">2014</p>
                  </th>
                  <th class="tdheader" style="text-align: right;"> <p style="text-align: right;">2015</p>
                  </th>
                  <th class="tdheader" style="text-align: right;"> <p style="text-align: right;">2016</p>
                  </th>
                  <th class="tdheader" style="text-align: right;"> <p style="text-align: right;">2017</p>
                  </th>
                  <th class="tdheader" style="text-align: right;"> <p style="text-align: right;">2018</p>
                  </th>
                  <th class="tdheader" style="text-align: right;"> <p style="text-align: right;">2019</p>
                  </th>
                  <th class="tdheader" style="text-align: right;"> <p style="text-align: right;">2020</p>
                  </th>
                  <th class="tdheader" style="text-align: right;"> <p style="text-align: right;">2021</p>
                  </th>
                  <th class="tdheader" style="text-align: right;"> <p style="text-align: right;">2022</p>
                  </th>
                  <th class="tdheader" style="text-align: right;"> <p style="text-align: right;">2023</p>
                  </th>
                  <th class="tdheader" style="text-align: right;"> <p style="text-align: right;">2024</p>
                  </th>
                  <th class="tdheader" style="text-align: right;"> <p style="text-align: right;">CAGR<br>
                      (’14–’24)</p>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="tdcontent" rowspan="6" style="text-align: left;"><p style="text-align: left;">Procedures (K)</p></td>
                  <td class="tdcontent" style="text-align: left;"><p style="text-align: left;">POBA</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">211.09</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">222.25</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">234.46</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">247.91</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">262.73</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">278.96</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">296.35</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">314.49</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">332.90</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">351.15</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">368.92</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">5.7%</p></td>
                </tr>
                <tr>
                  <td class="tdcontent" style="text-align: left;"><p style="text-align: left;">PTA-with-Stent</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">140.59</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">146.25</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">152.00</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">157.60</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">162.77</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">167.47</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">171.78</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">175.90</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">180.01</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">184.24</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">188.60</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">3.0%</p></td>
                </tr>
                <tr>
                  <td class="tdcontent" style="text-align: left;"><p style="text-align: left;">Direct Stenting</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">62.21</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">64.33</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">66.58</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">68.92</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">71.35</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">73.84</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">76.40</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">78.98</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">81.55</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">84.05</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">86.45</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">3.3%</p></td>
                </tr>
                <tr>
                  <td class="tdcontent" style="text-align: left;"><p style="text-align: left;">Stand-Alone Atherectomy</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">1.68</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">1.76</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">1.84</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">1.92</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">2.00</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">2.09</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">2.18</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">2.27</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">2.37</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">2.47</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">2.58</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">4.4%</p></td>
                </tr>
                <tr>
                  <td class="tdcontent" style="text-align: left;"><p style="text-align: left;">Aortic Stent Graft</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">35.78</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">36.72</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">37.87</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">39.10</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">40.44</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">41.86</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">43.33</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">44.85</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">46.34</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">47.76</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">49.05</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">3.2%</p></td>
                </tr>
                <tr>
                  <td class="tdcontent" style="text-align: left;"><p style="text-align: left;">Total</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">451.35</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">471.31</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">492.74</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">515.44</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">539.29</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">564.21</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">590.03</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">616.49</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">643.17</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">669.67</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">695.60</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">4.4%</p></td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td class="tdcontent" rowspan="6" style="text-align: left;"><p style="text-align: left;">Procedures (%&nbsp;Growth)</p></td>
                  <td class="tdcontent" style="text-align: left;"><p style="text-align: left;">POBA</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">—</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">5.3%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">5.5%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">5.7%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">6.0%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">6.2%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">6.2%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">6.1%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">5.9%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">5.5%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">5.1%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">5.7%</p></td>
                </tr>
                <tr>
                  <td class="tdcontent" style="text-align: left;"><p style="text-align: left;">PTA-with-Stent</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">—</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">4.0%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">3.9%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">3.7%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">3.3%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">2.9%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">2.6%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">2.4%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">2.3%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">2.3%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">2.4%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">3.0%</p></td>
                </tr>
                <tr>
                  <td class="tdcontent" style="text-align: left;"><p style="text-align: left;">Direct Stenting</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">—</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">3.4%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">3.5%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">3.5%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">3.5%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">3.5%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">3.5%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">3.4%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">3.2%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">3.1%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">2.9%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">3.3%</p></td>
                </tr>
                <tr>
                  <td class="tdcontent" style="text-align: left;"><p style="text-align: left;">Stand-Alone Atherectomy</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">—</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">4.4%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">4.4%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">4.4%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">4.4%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">4.4%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">4.3%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">4.3%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">4.3%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">4.3%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">4.3%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">4.4%</p></td>
                </tr>
                <tr>
                  <td class="tdcontent" style="text-align: left;"><p style="text-align: left;">Aortic Stent Graft</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">—</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">2.6%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">3.1%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">3.3%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">3.4%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">3.5%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">3.5%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">3.5%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">3.3%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">3.1%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">2.7%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">3.2%</p></td>
                </tr>
                <tr>
                  <td class="tdcontent" style="text-align: left;"><p style="text-align: left;">Total</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">—</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">4.4%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">4.5%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">4.6%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">4.6%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">4.6%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">4.6%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">4.5%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">4.3%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">4.1%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">3.9%</p></td>
                  <td class="tdcontent" style="text-align: right;"><p style="text-align: right;">4.4%</p></td>
                </tr>
              </tbody>
            </table>
          </div>
          
          <div class="alert alert-warning"><strong>TO BE DONE BY DEV</strong><br>- Wrap a div with the class <code>table-responsive</code> around any data table<br><br><strong>DONE WITH CSS</strong><br>- Styles for <code>table-responsive</code> added.</div>                
          
          <h3>Table with shaded cells and lots of text</h3>
          
          <table class="table table-break-words">
            <thead>
              <tr>
                <th> <p><strong>Therapy</strong></p>
                </th>
                <th> <p><strong>Company/Brand</strong></p>
                </th>
                <th> <p><strong>Daily Doseª</strong></p>
                </th>
                <th> <p><strong>Availability</strong></p>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="4" class="shaded-cell"><p><strong>Inhaled corticosteroids</strong></p></td>
              </tr>
              <tr>
                <td><p>Fluticasone propionate</p></td>
                <td><p>GlaxoSmithKline’s Flovent/Flixotide/Flutide</p></td>
                <td><p><abbr title="metered-dose inhaler">MDI</abbr>: 88-880 µg <abbr title="twice daily">bid</abbr>; <abbr title="dry powder inhaler">DPI</abbr> (Diskus): 50-1,000 µg <abbr title="twice daily">bid</abbr></p></td>
                <td><p>US, F, G, I, S, UK, J</p></td>
              </tr>
              <tr>
                <td><p>Budesonide</p></td>
                <td><p>AstraZeneca’s Pulmicort/Pulmaxan, generics<sup>a</sup></p></td>
                <td><p><abbr title="metered-dose inhaler">MDI</abbr> (Flexhaler): 180-720 µg <abbr title="twice daily">bid</abbr>; <abbr title="dry powder inhaler">DPI</abbr> (Turbuhaler): 200-800 µg <abbr title="twice daily">bid</abbr>; nebulizer (Respules): 0.5-1.0 mg divided <abbr title="twice daily">bid</abbr></p></td>
                <td><p>US, F, G, I, S, UK, J</p></td>
              </tr>
              <tr>
                <td><p>Mometasone</p></td>
                <td><p>Merck’s Asmanex</p></td>
                <td><p><abbr title="dry powder inhaler">DPI</abbr> (Twisthaler): 110-440 <abbr title="once daily">qd</abbr>, up to 440 <abbr title="twice daily">bid</abbr></p></td>
                <td><p>US, F, G, I, S, UK, J</p></td>
              </tr>
              <tr>
                <td><p>Ciclesonide</p></td>
                <td><p>Sunovion/Takeda/Teijin’s Alvesco</p></td>
                <td><p><abbr title="metered-dose inhaler">MDI</abbr>: 80-160 µg <abbr title="once daily">qd</abbr> (<abbr title="twice daily">bid</abbr> in the United States)</p></td>
                <td><p>US, F, G, I, S, UK, J</p></td>
              </tr>
              <tr>
                <td><p>Beclomethasone</p></td>
                <td><p>GlaxoSmithKline’s Becotide, Teva’s Qvar, generics</p></td>
                <td><p><abbr title="metered-dose inhaler">MDI</abbr>: 40-320 µg <abbr title="twice daily">bid</abbr>; <abbr title="dry powder inhaler">DPI</abbr>: 200-800 µg <abbr title="twice daily">bid</abbr></p></td>
                <td><p>US, F, G, I, S, UK, J</p></td>
              </tr>
              <tr>
                <td>Flunisolide</td>
                <td>Meda Pharmaceuticals</td>
                <td><abbr title="metered-dose inhaler">MDI</abbr>: 80-160 µg <abbr title="twice daily">bid</abbr></td>
                <td>US</td>
              </tr>
              <tr>
                <td colspan="4" class="shaded-cell"><p><strong>Long-acting beta<sub>2</sub><sub></sub>agonist/inhaled corticosteroid combinations</strong></p></td>
              </tr>
              <tr>
                <td><p>Salmeterol/fluticasone propionate</p></td>
                <td><p>GlaxoSmithKline’s Advair/Seretide/Adoair<sup>b</sup>, generics</p></td>
                <td><p><abbr title="dry powder inhaler">DPI</abbr> (Diskus): 50/100 µg, 50/250 µg, or 50/500 µg <abbr title="twice daily">bid</abbr>; <abbr title="metered-dose inhaler">MDI</abbr>: 21/45 μg, 21/115 μg, or 21/230 μg 2 inhalations <abbr title="twice daily">bid</abbr></p></td>
                <td><p>US, F, G, I, S, UK, J</p></td>
              </tr>
              <tr>
                <td><p>Formoterol/budesonide</p></td>
                <td><p>AstraZeneca/Astellas’s Symbicort<sup>c</sup>, generics</p></td>
                <td><p><abbr title="dry powder inhaler">DPI</abbr> (Turbuhaler): 4.5/80 µg, 4.5/160 µg, or 9/320 µg 1-2 inhalations <abbr title="twice daily">bid</abbr>; also approved for prn use in Europe and Japan (SMART dosing); <abbr title="metered-dose inhaler">MDI</abbr> (Rapihaler): 4.5/80 µg or 4.5/160 µg 2 inhalations <abbr title="twice daily">bid</abbr></p></td>
                <td><p>US, F, G, I, S, UK, J</p></td>
              </tr>
              <tr>
                <td><p>Formoterol/beclomethasone</p></td>
                <td><p>Chiesi’s Foster</p></td>
                <td><p><abbr title="metered-dose inhaler">MDI</abbr>: 6/100 µg 1-2 inhalations <abbr title="twice daily">bid</abbr>; also approved for prn use in Europe (MART dosing); <abbr title="dry powder inhaler">DPI</abbr> (NEXThaler): 6/100 µg 2 inhalations <abbr title="twice daily">bid</abbr></p></td>
                <td><p>F, G, I, S, UK</p></td>
              </tr>
              <tr>
                <td><p>Formoterol/mometasone</p></td>
                <td><p>Merck’s Dulera</p></td>
                <td><p><abbr title="metered-dose inhaler">MDI</abbr>: 5/100 µg or 5/200 µg 2 inhalations <abbr title="twice daily">bid</abbr></p></td>
                <td><p>US</p></td>
              </tr>
              <tr>
                <td><p>Formoterol/fluticasone propionate</p></td>
                <td><p>SkyePharma/Mundipharma/Kyorin’s Flutiform<b>, </b>Zambon Italia’s Abriff</p></td>
                <td><p><abbr title="metered-dose inhaler">MDI</abbr>: 5/50 µg, 5/125 µg, or 10/250 µg <abbr title="twice daily">bid</abbr></p></td>
                <td><p>G, I, F<sup>d</sup>, S<sup>d</sup>, UK, J<sup>d</sup></p></td>
              </tr>
              <tr>
                <td>Vilanterol/fluticasone furoate</td>
                <td>GlaxoSmithKline's Breo/Relvar/Revinty</td>
                <td><abbr title="dry powder inhaler">DPI</abbr> (Ellipta): 22/92 µg or 22/184 µg, <abbr title="once daily">qd</abbr></td>
                <td>US, F, G, I, S, UK, J</td>
              </tr>
              <tr>
                <td colspan="4" class="shaded-cell"><p><strong>Leukotriene inhibitors</strong></p></td>
              </tr>
              <tr>
                <td><p>Montelukast</p></td>
                <td><p>Merck/Kyorin’s Singulair, generics</p></td>
                <td><p>Oral pill: 10 mg <abbr title="once daily">qd</abbr></p></td>
                <td><p>US, F, G, I, S, UK, J</p></td>
              </tr>
              <tr>
                <td colspan="4" class="shaded-cell"><p><strong>Anti-immunoglobulin E agents</strong></p></td>
              </tr>
              <tr>
                <td><p>Omalizumab</p></td>
                <td><p>Roche/Novartis’s Xolair</p></td>
                <td><p><abbr title="subcutaneous">SC</abbr> injection: 75-600 mg<sup>e</sup> once every 2-4 weeks</p></td>
                <td><p>US, F, G, I, S, UK, J</p></td>
              </tr>
              <tr>
                <td colspan="4" class="shaded-cell"><p><strong>Short-acting beta<sub>2</sub> agonists</strong></p></td>
              </tr>
              <tr>
                <td><p>Albuterol</p></td>
                <td><p>GlaxoSmithKline’s Ventolin HFA, Merck’s Proventil HFA, Teva’s ProAir HFA, Teva’s ProAir RespiClick<sup>f</sup>, generics</p></td>
                <td><p><abbr title="metered-dose inhaler">MDI</abbr>: 180 µg q4-6h, prn; <abbr title="dry powder inhaler">DPI</abbr>: 200 µg prn up to <abbr title="four times daily">qid</abbr>; nebulizer: 1.25 mg or 2.5 mg q4-6h, prn</p></td>
                <td><p>US, F, G, I, S, UK, J</p></td>
              </tr>
              <tr>
                <td><p>Levalbuterol (R-albuterol)</p></td>
                <td><p>Sunovion’s Xopenex Inhalation Solution/Xopenex HFA</p></td>
                <td><p>Nebulizer: 0.63-1.25 mg <abbr title="three times daily">tid</abbr>; <abbr title="metered-dose inhaler">MDI</abbr>: 90 µg q4-6h or prn</p></td>
                <td><p>US</p></td>
              </tr>
            </tbody>
          </table>

          <div class="alert alert-warning"><strong>DONE WITH CSS</strong><br>- Added the class <code>shaded-cell</code> that can be applied to any <code>td</code><br>- Added the class <code>table-break-words</code> that can be applied to any <code>table</code><br><br><strong>TO BE DONE IN CMS</strong><br>- Apply the class <code>shaded-cell</code> to any <code>td</code> you want shaded<br>- Apply the class <code>table-break-words</code> to any <code>table</code> that contains a lot text</div>                

          
          <h2>Images</h2>
          <h3>If the original image is wider than the column it will be 100% of the column width</h3>
          <img src="app-assets/images/charts/chart4.png">            
          <h3>If the original image is not as wide as the column it will be centered</h3>
          <img src="app-assets/images/charts/dashboard-epi2.png"> 
          
          <h2>Miscellaneous</h2>

          <h3>Listing Interview Participants</h3>

          <ul class="round-bullets">
            <li>
              <strong>Arnaud Bourdin, M.D.,Ph.D</strong><br>
              Responsable de Pneumologie<br>
              Service des Maladies Respiratoires, Pôle Coeur Poumons<br>
              Hôpital Arnaud de Villeneuve<br>
              Montpellier, France
            </li>
            <li>
              <strong>Thomas Casale, M.D.</strong><br>              
              Professor of Medicine<br>       
              Department of Medicine<br>
              University of South Florida<br>
              Tampa, Florida
            </li>
            <li>
              <strong>Arnaud Bourdin, M.D.,Ph.D</strong><br>
              Responsable de Pneumologie<br>
              Service des Maladies Respiratoires, Pôle Coeur Poumons<br>
              Hôpital Arnaud de Villeneuve<br>
              Montpellier, France
            </li>
            <li>
              <strong>Thomas Casale, M.D.</strong><br>              
              Professor of Medicine<br>       
              Department of Medicine<br>
              University of South Florida<br>
              Tampa, Florida
            </li>
          </ul>
          <div class="alert alert-warning"><strong>TO BE DONE IN CMS</strong><br>- Use <code>ul.round-bullets</code> and line-breaks.<br>- Bold the name of each interviewee.</div> 
          
          <h3>Footnotes</h3>
          
          <ol class="footnotes">
            <li>clinicaltrials.gov, NCT02425891, accessed September 23, 2015.</li> 
            <li>clinicaltrials.gov, NCT02437318, accessed September 23, 2015.</li>
            <li>clinicaltrials.gov, NCT02492711, accessed September 23, 2015.</li>
            <li>clinicaltrials.gov, NCT02422615, accessed September 23, 2015.</li>
            <li>Roche, press release, June 26, 2015.</li> 
            <li>clinicaltrials.gov, NCT02425891, accessed September 24, 2015.</li>
            <li>clinicaltrials.gov NCT02340221, accessed September 23, 2015.</li>
            <li>Pfizer, press release, April 15, 2015.</li> 
            <li>Nektar Therapeutics, press release, March 17, 2015.</li> 
            <li>Pfizer, press release, Feb 15, 2015. 11. Roche, press release, Dec, 2014.</li>
          </ol>
          
          <div class="alert alert-warning"><strong>TO BE DONE IN CMS</strong><br>- Use <code>ol.footnotes</code>.</div> 
          
          <h3>Ordered List with <code>p</code> tags</h3>
          
          <ol>
            <li><p>clinicaltrials.gov, NCT02425891, accessed September 23, 2015.</p></li> 
            <li><p>clinicaltrials.gov, NCT02437318, accessed September 23, 2015.</p></li>
            <li><p>clinicaltrials.gov, NCT02492711, accessed September 23, 2015.</p></li>
            <li><p>clinicaltrials.gov, NCT02422615, accessed September 23, 2015.</p></li>
            <li><p>Roche, press release, June 26, 2015.</p></li> 
            <li><p>clinicaltrials.gov, NCT02425891, accessed September 24, 2015.</p></li>
            <li><p>clinicaltrials.gov NCT02340221, accessed September 23, 2015.</p></li>
            <li><p>Pfizer, press release, April 15, 2015.</p></li> 
            <li><p>Nektar Therapeutics, press release, March 17, 2015.</p></li> 
            <li><p>Pfizer, press release, Feb 15, 2015. 11. Roche, press release, Dec, 2014.</p></li>
          </ol>