<ul class="nav navbar-nav navbar-right">
  <li class="dropdown"> 
    <a href="browse-therapy.html" class="dropdown-toggle" data-toggle="dropdown"> Diseases <b class="caret"></b></a>
    <ul class="dropdown-menu product-menu">
      <li class="dropdown-submenu"><a href="browse-therapy.html"><span class="owned-tag">Disease Insights</span><span class="owned-label">You own 22 diseases</span></a>
        <ul class="dropdown-menu recent-searches">
          <li><a href="browse-therapy.html">Browse Disease Insights</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Recently Viewed <span class="clear-all pull-right" href="#">Clear all</span></li>
          <li><a href="disease-1dashboard.html"> Type 2 Diabetes</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
          <li><a href="#">Breast Cancer</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
          <li><a href="#">Gastric Cancer</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
          <li><a href="#">Obesity</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
          <li><a href="#">Alzheimer's Disease</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
          <li><a href="#">Parkinson's Diases</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
          <li><a href="#">Hypertension</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
          <li><a href="#">Dyslipidemia</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
        </ul>        
      </li>
      <li class="dropdown-submenu"><a href="browse-epi.html"><span class="owned-tag">Epidemiology</span><span class="owned-label">You own 54 diseases</span></a>
        <ul class="dropdown-menu recent-searches">
          <li><a href="browse-epi.html">Browse All Epidemiology Diseases</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Recently Viewed <span class="clear-all pull-right" href="#">Clear all</span></li>
          <li><a href="disease-3epidemiology-1.html"> Type 2 Diabetes</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
          <li><a href="#">Gastric Cancer</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
          <li><a href="#">Type 1 Diabetes</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
          <li><a href="#">Dyslipidemia</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
          <li><a href="#">Alzheimer's Disease</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
          <li><a href="#">Parkinson's Diases</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
          <li><a href="#">Breast Cancer</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
          <li><a href="#">Hypertension</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
        </ul>        
      </li>
    </ul>
  </li>

  <li class="dropdown"> 
    <a href="browse-drugs.html" class="dropdown-toggle" data-toggle="dropdown"> Drugs &amp; Companies <b class="caret"></b></a>
    <ul class="dropdown-menu product-menu">
      <li class="dropdown-submenu"><a href="drug-profiles.html"><span class="owned-tag">Drug Insights</span></a>
        <ul class="dropdown-menu recent-searches">
          <li><a href="drug-profiles.html">Browse Drug Insights</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Recently Viewed <span class="clear-all pull-right" href="#">Clear all</span></li>
          <li><a href="drug-1dashboard.html"> Humira</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
          <li><a href="therapy-1dashboard.html"> Metabolism</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
          <li><a href="drugclass-1dashboard.html"> Chronic Gout Treatments</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
          <li><a href="#"> SB204</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
          <li><a href="#"> Lisonorm</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
          <li><a href="#"> Longes</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
          <li><a href="#"> Accupril</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
          <li><a href="#"> Vasotec</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
          <li><a href="#"> Avodart / Jalyn / Duodart</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
          <li><a href="#"> Iclusig</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
        </ul>         
      </li>
      <li class="dropdown-submenu"><a href="company-profiles.html"><span class="owned-tag">Company Insights</span></a>
        <ul class="dropdown-menu recent-searches">
          <li><a href="company-profiles.html">Browse Company Insights</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Recently Viewed <span class="clear-all pull-right" href="#">Clear all</span></li>
          <li><a href="company-1dashboard.html">Novartis</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
          <li><a href="#">GlaxoSmithKline</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
        </ul>        
      </li>
      <li class="dropdown-submenu"><a href="drug-sales-rankings.html"><span class="owned-tag">Sales Rankings</span></a>
        <ul class="dropdown-menu">
          <li><a href="#">By Therapeutic Group</a></li> 
          <li><a href="#">By Drug Class</a></li> 
          <li><a href="drug-sales-rankings.html">By Drug Brand</a></li> 
          <li><a href="company-sales-rankings.html">By Company</a></li> 
        </ul>      
      </li>
      <li><a href="drug-biosimilars.html"><span class="owned-tag">Biosimilars</span></a></li>
    </ul>
  </li>
  
  <li class="dropdown"> 
    <a href="browse-devices.html" class="dropdown-toggle" data-toggle="dropdown"> Medtech <b class="caret"></b></a>
    <ul class="dropdown-menu product-menu">
      <li class="dropdown-submenu"><a href="device-profiles.html"><span class="owned-tag">Browse Devices</span><span class="owned-label">You own 1 device</span></a>
        <ul class="dropdown-menu recent-searches">
          <li><a href="device-profiles.html">Browse Device Insights</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Recently Viewed</li>
          <li class="no-recently-view"><i class="fa fa-eye"></i> No recently viewed devices</li>
        </ul>
      </li>
      <li><a href="#"><span class="not-owned-tag">Global Market Access for Medtech</span></a></li>
      <li><a href="#"><span class="not-owned-tag">MarketTrack</span></a></li>
    </ul>
  </li>
  <li class="dropdown"> 
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Other <b class="caret"></b></a></a>
    <ul class="dropdown-menu product-menu">
      <li class="dropdown-submenu"><a href="search-digital.html"><span class="owned-tag">Digital Innovation</span><span class="owned-label">You own 34 Reports</span></a>
        <ul class="dropdown-menu">
          <li><a href="#"><span class="owned-tag">Digital HCP Insights</span><span class="owned-label">You own 34 report</span></a></li>
          <li><a href="#"><span class="not-owned-tag">Digital Patient Insights</span></a></li>
          <li><a href="#"><span class="not-owned-tag">Digital Payer Insights</span></a></li>
          <li><a href="#"><span class="not-owned-tag">Additional Digital Insights</span></a></li>
        </ul>
      </li>
      <li><a href="rare-niche.html"><span class="owned-tag">Rare, Orphan &amp; Niche Disease Monitor</span></a></li>  
      <li><a href="#"><span class="not-owned-tag">Global Market Access</span></a></li>
      <li><a href="#"><span class="not-owned-tag">Label Analysis Monitor</span></a></li>  
      <li><a href="#"><span class="not-owned-tag">China Rx Database</span></a></li> 
      <li><a href="#"><span class="not-owned-tag">Unmet Need Dashboard</span></a></li> 
      <li><a href="#"><span class="not-owned-tag">Treatment Algorithms Dashboard</span></a></li>
    </ul>
  </li>
  <li class="navmenu-divider dropdown navmenu-icon active"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lg fa-bell hidden-xs"></i><span class="hidden-sm hidden-md hidden-lg">Notifications</span><span class="badge">3</span></a>
    <div class="dropdown-menu notifications-menu">
      <ul class="list-unstyled set-height">
        <li class="unread"><a href="#"><strong>Merck & Co.</strong> have added <strong>Obesity - Disease Landscape and Forecast</strong> to your subscription <span class="notification-date">Just now</span></a></li>
        <li class="unread"><a href="#"><strong>Type 2 Diabetes - Epidemiology</strong> has been updated <span class="notification-date">2 days ago</span></a></a></li>
        <li class="unread"><a href="#"><strong>Obesity - Epidemiology</strong> had been updated <span class="notification-date">1 week ago</span></a></a></li>
        <li><a href="#"><strong>Merck & Co.</strong> have added <strong>Obesity - Unmet Need</strong> to your subscription <span class="notification-date">2 months ago</span></a></a></li>
        <li><a href="#"><strong>Merck & Co.</strong> have added <strong>5 new pieces of content</strong> to your subscription <span class="notification-date">3 months ago</span></a></a></li>
        <li><a href="#"><strong>Unmet Need for 6 diseases</strong> has been updated <span class="notification-date">6 months ago</span></a></a></li>
        <li><a href="#"><strong>Breast Cancer - Current Treatment</strong> has been updated <span class="notification-date">6 months ago</span></a></a></li>
        <li><a href="#"><strong>Biosimilars Webinar</strong> is available for sign-up <span class="notification-date">6 months ago</span></a></a></li>
      </ul>
      <a href="#" class="notifications-all">View all notifications</a>
    </div>
  </li>
  <li class="navmenu-icon"><a href="#" data-toggle="modal" data-target="#contactFrom"><i class="fa fa-lg fa-comment hidden-xs"></i><span class="hidden-sm hidden-md hidden-lg">Contact Us</span></a></li>
  <li class="dropdown navmenu-icon"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lg fa-user hidden-xs"></i><span class="hidden-sm hidden-md hidden-lg">Steve Clark</span></a>
    <ul class="dropdown-menu">
      <li><a href="https://authentication.decisionresourcesgroup.com/login/MyProfile">Edit Profile</a></li>
      <li><a href="https://authentication.decisionresourcesgroup.com/login/Password/ChangePassword">Change Password</a></li>
      <li><a href="https://authentication.decisionresourcesgroup.com/login/Logout">Log Out</a></li>
    </ul>
  </li>
</ul>