<ul class="nav navbar-nav navbar-right">
  <li class="dropdown"> 
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="browseMenu"><i class="fa fa-bars" aria-hidden="true"></i> Browse Content <b class="caret"></b></a>
    <div class="dropdown-menu product-menu">
      <div class="row no-padding two-tier-select">
        <ul class="col-sm-5 list-unstyled has-searchbox two-tier-select-parent">
          <li class="active biopharma"><a href="#menu-1" data-toggle="tab">Disease, Drug & Company</a></li>
          <li class="medtech"><a href="#menu-2" data-toggle="tab">Medtech</a></li>
          <li class="digital"><a href="#menu-3" data-toggle="tab">Digital</a></li>
          <li class="other"><a href="#menu-4" data-toggle="tab">Other</a></li>
        </ul>
        <div class="tab-content col-sm-7 two-tier-select-child">
          <div class="tab-pane active in" id="menu-1">
            <ul class="list-unstyled">
              <li class="dropdown-header">Disease</li>
              <li class="dropdown-submenu"><a href="browse-therapy.html">Disease Insights</a>
                <ul class="dropdown-menu recent-searches">
                  <li><a href="browse-therapy.html">Browse All</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Recently Viewed <span class="clear-all pull-right" href="#">Clear</span></li>
                  <li><a href="disease-1dashboard.html"> Type 2 Diabetes</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                  <li><a href="not-owned-reports-only.html">Obesity</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                  <li><a href="not-owned-dashboard.html">Ulcerative Colitis</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                  <li><a href="not-owned-rib-only.html">Dyslipidemia</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                  <li><a href="#">Gastric Cancer</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                  <li><a href="#">Alzheimer's Disease</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                  <li><a href="#">Hypertension</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                  <li><a href="#">Dyslipidemia</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                </ul>        
              </li>
              <li class="dropdown-submenu"><a href="browse-epi.html">Epidemiology</a>
                <ul class="dropdown-menu recent-searches">
                  <li><a href="browse-epi.html">Browse All</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Recently Viewed <span class="clear-all pull-right" href="#">Clear</span></li>
                  <li><a href="disease-3epidemiology-1.html"> Type 2 Diabetes</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                  <li><a href="#">Obesity</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                  <li><a href="#">Ulcerative Colitis</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                  <li><a href="#">Dyslipidemia</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                  <li><a href="#">Gastric Cancer</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                  <li><a href="#">Alzheimer's Disease</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                  <li><a href="#">Hypertension</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                  <li><a href="#">Dyslipidemia</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                </ul>        
              </li>
              <li><a href="drug-biosimilars3.html">Biosimilars Risks &amp; Opportunities</a></li>
              <li><a href="#">Report Library</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Drug</li>
              <li class="dropdown-submenu"><a href="drug-profiles.html">Drug Brand, Class &amp; Group Insights</a>
                <ul class="dropdown-menu recent-searches">
                  <li><a href="drug-profiles.html">Browse All</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Recently Viewed <span class="clear-all pull-right" href="#">Clear</span></li>
                  <li><a href="drug-1dashboard.html"> Humira</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                  <li><a href="therapy-1dashboard.html"> Metabolism</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                  <li><a href="drugclass-1dashboard.html"> Chronic Gout Treatments</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                  <li><a href="#"> SB204</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                  <li><a href="#"> Lisonorm</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                  <li><a href="#"> Longes</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                  <li><a href="#"> Accupril</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                  <li><a href="#"> Vasotec</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                  <li><a href="#"> Avodart / Jalyn / Duodart</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                  <li><a href="#"> Iclusig</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                </ul>         
              </li>              
              <li class="dropdown-submenu"><a href="drug-sales-rankings.htm">Drug Brand Sales Analysis</a>
                <ul class="dropdown-menu">
                  <li><a href="marketanalyzer.html">Market Analysis Tool</a></li>
                  <li><a href="drug-sales-rankings.html">Drug Brand Rankings</a></li>
                </ul>         
              </li> 

              <li><a href="drug-biosimilars.html">Biosimilars Landscape &amp; Forecast</a></li> 
              <li class="divider"></li>
              <li class="dropdown-header">Company</li>
              <li class="dropdown-submenu"><a href="company-profiles.html">Company Insights</a>
                <ul class="dropdown-menu">
                  <li><a href="company-profiles.html">Browse All</a></li>
                </ul>         
              </li> 
              <li class="dropdown-submenu"><a href="marketanalyzer.html">Company Sales Analysis</a>
                <ul class="dropdown-menu">
                  <li><a href="marketanalyzer.html">Market Analysis Tool</a></li>
                  <li><a href="company-sales-rankings.html">Company Rankings</a></li>
                </ul>         
              </li>    
              <li><a href="drug-biosimilars4.html">Biosimilars  Corporate Strategies</a></li> 
            </ul>
          </div>
          <div class="tab-pane" id="menu-2">
            <ul class="list-unstyled">
              <li class="dropdown-submenu"><a href="browse-devices.html">Market Insights <span class="smalltext">Medtech 360</span></a>
                <ul class="dropdown-menu recent-searches">
                  <li><a href="browse-devices.html">Browse All</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Recently Viewed <span class="clear-all pull-right" href="#">Clear</span></li>
                  <li><a href="devicecat-2.html"> Heart Valve Devices</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                  <li><a href="#">Cardiac Assist Devices</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                  <li><a href="#">Clot Management Devices</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                  <li><a href="#">Coronary Artery Bypass Graft Devices</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                </ul>        
              </li>
              <li class="dropdown-submenu"><a href="device-custom.html">Commercial Targeting <span class="smalltext">Procedure Finder</span></a>
                <ul class="dropdown-menu recent-searches">
                  <li><a href="device-custom.html">Browse All</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Recently Viewed <span class="clear-all pull-right" href="#">Clear</span></li>
                  <li><a href="devicecat-3.html"> Heart Valve Devices</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                  <li><a href="#">Clot Management Devices</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                </ul>        
              </li>
              <li class="dropdown-submenu"><a href="device-custom2.html">Brand Tracking <span class="smalltext">Pricetrack &amp; Marketrack</span></a>
                <ul class="dropdown-menu recent-searches">
                  <li><a href="device-custom2.html">Browse All</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Recently Viewed <span class="clear-all pull-right" href="#">Clear</span></li>
                  <li><a href="devicecat-4.html"> Heart Valve Devices</a><span class="clearer fa fa-times-circle deleteRow"></span></li>
                </ul>        
              </li>
              <li><a href="dataviewer.html">Data Digger</a></li>
            </ul>
          </div>
          <div class="tab-pane" id="menu-3">
            <ul class="list-unstyled">
              <li class="dropdown-header">Physician Engagement</li>
              <li><a href="digital.html">United States</a></li>
              <li><a href="digital-2.html">Europe</a></li>
              <li><a href="digital-3.html">Rest of World</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Patient Engagement</li>
              <li><a href="digital-4.html">United States</a></li>
              <li><a href="digital-5.html">Europe</a></li>
              <li><a href="digital-6.html">Rest of World</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Payer Engagement</li>
              <li><a href="digital-7.html">United States</a></li>
            </ul>
          </div>
          <div class="tab-pane" id="menu-4">
            <ul class="list-unstyled">
              <li><a href="#">Unmet Need 2016 Dashboard</a></li>
              <li><a href="#">Global Market Access Solution (GMAS)</a></li>
              <li><a href="#">Treatment Algorithms Dashboard 2015</a></li>
              <li><a href="#">China Rx Database</a></li>
              <li><a href="#">Label Analysis &amp; Monitoring Platform (LAMP)</a></li>
              <li><a href="#">Rare/Orphan/Niche Disease Monitor</a></li>
              <li><a href="#">Market Analyzer</a></li>
              <li><a href="#">DecisionBase 2015 Dashboard</a></li>
              <li><a href="#">PatientFinder 2.0</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </li>

  <li class="navmenu-icon navmenu-divider active dropdown"> 
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lg fa-bell hidden-xs"></i><span class="hidden-sm hidden-md hidden-lg">Notifications</span><span class="badge">1</span></a></a>
    <div class="dropdown-menu alerts-messages-dropdown">
      <ul class="list-unstyled alerts-messages-list">
        <li class="unread">
          <a href="#"=>
            <span class="alert-type">Updated Content</span> 
            <span class="alert-title">We've updated Types 2 Diabetes - Epidemiology - Mature Markets Data</span> 
            <span class="alert-date">26 July 2016</span> 
          </a>
        </li>
        <li>
          <a href="alerts1.html">
            <span class="alert-type">Platform Update</span> 
            <span class="alert-title">We've improved the search experience</span> 
            <span class="alert-date">21 June 2016</span> 
          </a>
        </li>
        <li>
          <a href="#"=>
            <span class="alert-type">New Content</span> 
            <span class="alert-title">We've added 2 new modules for Types 2 Diabetes</span> 
            <span class="alert-date">9 June 2016</span> 
          </a>
        </li>
        <li>
          <a href="#"=>
            <span class="alert-type">Updated Content</span> 
            <span class="alert-title">We've updated 6 modules for Types 2 Diabetes</span> 
            <span class="alert-date">4 June 2016</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="alert-type">New Content</span> 
            <span class="alert-title">We've added Type 2 Diabetes - Emerging Therapies - DrugName Launch Tracking Wave 1 (US)</span> 
            <span class="alert-date">29 May 2016</span>
          </a>
        </li>
      </ul>
      <div class="dropdown-footer">
        <a href="alerts1.html">My Notifications <span class="badge">1</span></a>
        <a href="alerts2.html">My Settings</a>
      </div>

      </div>
    </div>
  </li>
  
  <li class="navmenu-icon"><a href="#" data-toggle="modal" data-target="#contactFrom"><i class="fa fa-lg fa-comment hidden-xs"></i><span class="hidden-sm hidden-md hidden-lg">Contact Us</span></a></li>
  <li class="dropdown navmenu-icon"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lg fa-user hidden-xs"></i><span class="hidden-sm hidden-md hidden-lg">Steve Clark</span><b class="hidden-sm hidden-md hidden-lg caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="https://authentication.decisionresourcesgroup.com/login/MyProfile">Edit Profile</a></li>
      <li><a href="https://authentication.decisionresourcesgroup.com/login/Password/ChangePassword">Change Password</a></li>
      <li><a href="https://authentication.decisionresourcesgroup.com/login/Logout">Log Out</a></li>
    </ul>
  </li>
</ul>

<script type="text/javascript">
$(document).on('mouseenter', '.product-menu [data-toggle="tab"]', function () {
  $(this).tab('show');
});  
</script>