<div class="report-meta pull-left">  
  <span class="pub-date"><i class="fa fa-calendar"></i> 9 Apr 2016</span> 
  <span class="btn-group">
    <a href="#" class="dropdown-toggle btn btn-link" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-arrow-circle-down"></i> Download <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#"><span class="icon icon-word"></span> Word</a></li>
      <li><a href="#"><span class="icon icon-pdf"></span> PDF</a></li>
    </ul>
  </span> 
  <span class="preview"><i class="fas fa-eye"></i> <a href="report-preview.html" class="btn-link">Preview</a></span> 
  <span class="btn-group">
    <a href="#" class="dropdown-toggle btn btn-link" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-check-circle"></i>  Publish <span class="caret"></span></a>
    <ul class="dropdown-menu dropdwn" role="menu">
      <li class="element-space">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
      <li>
        <form>
          <div class="form-group mb0">
            <div class="col-sm-12 pdlt0">
              <textarea class="form-control"></textarea>
            </div>
          </div>
          <a class="dis_inline" href="report-publish.html"><button type="button" class="btn btn-primary btn-sm col-md-5 mt10">Publish</button></a>
          <a class="dis_inline" href="#"><button type="button" class="btn btn-primary btn-sm col-md-5 mt10 ml10" data-toggle="modal" data-target="#report_preview">Choose from list</button></a>
        </form>
      </li>
    </ul>
  </span> 
</div>            
<div class="chapter-nav pull-right">
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-unlock text-default" aria-hidden="true"></i> Checkout <i class="caret caret-white"></i></a>
      <ul class="dropdown-menu">
        <li class="checkbox"><label><input type="radio" name="checkOutNodes" checked="checked" /> All nodes</label></li>
        <li class="checkbox"><label><input type="radio" name="checkOutNodes" /> Exclude parametric figures & tables</label></li>
        <li class="checkbox"><label><input type="radio" name="checkOutNodes" /> Only parametric figures & tables</label></li>
        <li class="divider"></li>
        <li class="checkbox"><label><button type="button" class="btn btn-primary" data-toggle="dropdown">Confirm</button></label></li>
      </ul>
    </li>
    <li class="disabled"><a href="#"><i class="fa fa-lock text-default" aria-hidden="true"></i> Checkin</a></li>
    <li class="disabled"><a href="#"><i class="fa fa-undo" aria-hidden="true"></i> Undo Checkout</a></li>
  </ul>
</div>