      <div class="btn-group" id="searchDropdown">
        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Digital <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" id="BiopharmaDropdown">Disease, Drug & Company</a></li>
          <li><a href="#" id="MedtechDropdown">Medtech <span class="smalltext">By Millennium Research Group</span></a></li>
          <li class="active"><a href="#" id="DigitalDropdown">Digital <span class="smalltext">By Manhattan Research</span></a></li>
          <li><a href="#" id="ReportDropdown">Report Library</a></li>

        </ul>
      </div>


      <ul class="list-unstyled search-suggestions dropdown-menu recent-searches" id="search-suggestions">
        <li class="dropdown-header">My Recent Searches <span class="clear-all pull-right" href="#">Clear all</span></li>
        <li><a href="search-disease.html">Type 2 Diabetes</a> <span class="clearer fa fa-times-circle deleteRow"></span></li>
        <li><a href="search-company.html">Novartis</a> <span class="clearer fa fa-times-circle deleteRow"></span></li>
        <li><a href="search-drug.html">Humira</a> <span class="clearer fa fa-times-circle deleteRow"></span></li>
        <li><a href="search-biosimilars.html">Biosimilars</a> <span class="clearer fa fa-times-circle deleteRow"></span></li>
        <li><a href="search-disease-granular.html">Type 2 Diabetes in Japan</a> <span class="clearer fa fa-times-circle deleteRow"></span></li>
        <li><a href="search-disease-notowned.html">Ulcerative Colitis</a> <span class="clearer fa fa-times-circle deleteRow"></span></li>
        <li><a href="search-noresults.html">ManFlu</a> <span class="clearer fa fa-times-circle deleteRow"></span></li>
        <li><a href="search-disease-spelling.html">Type 2 Diabets</a> <span class="clearer fa fa-times-circle deleteRow"></span></li>
        <li><a href="search-disease-synonym.html">T2D</a> <span class="clearer fa fa-times-circle deleteRow"></span></li>
        <li><a href="search-digital-message.html">Cybercitizen Health</a> <span class="clearer fa fa-times-circle deleteRow"></span></li>
      </ul> 
      <ul class="list-unstyled search-suggestions dropdown-menu" id="search-suggestions-t">
        <li><a href="search-disease.html">T<strong>ype 2 Diabetes</strong></a></li>
        <li><a href="#">T<strong>aisho</strong></a></li>
         <li><a href="#">T<strong>emazepam</strong></a></li>
         <li><a href="#">T<strong>akeda</strong></a></li>
         <li><a href="#">T<strong>eva</strong></a></li>
         <li><a href="#">T<strong>ramadol</strong></a></li>
         <li><a href="#">T<strong>razodone</strong></a></li>
         <li><a href="#">Ty<strong>bost</strong></a></li>
      </ul> 
      <ul class="list-unstyled search-suggestions dropdown-menu" id="search-suggestions-ty">
        <li><a href="search-disease.html">Ty<strong>pe 2 Diabetes</strong></a></li>
        <li><a href="#">Ty<strong>bost</strong></a></li>
        <li><a href="#">Ty<strong>gacil</strong></a></li>
        <li><a href="#">Ty<strong>kerb / Tyverb</strong></a></li>
        <li><a href="#">Ty<strong>risa</strong></a></li>
        <li><a href="#">Ty<strong>sabri</strong></a></li>
        <li><a href="#">Ty<strong>vaso</strong></a></li>
        <li><a href="#">Ty<strong>zeka / Sebivo</strong></a></li>
      </ul> 
      <ul class="list-unstyled search-suggestions dropdown-menu" id="search-suggestions-typ">
        <li><a href="search-disease.html">Typ<strong>e 2 Diabetes</strong></a></li>
        <li><a href="search-disease1.html">Typ<strong>e 2 Diabetes - Overview &amp; Forecast</strong></a></li>
        <li><a href="#">Typ<strong>e 2 Diabetes - Epidemiology</strong></a></li>
        <li><a href="#">Typ<strong>e 2 Diabetes - Current Treatment</strong></a></li>
        <li><a href="#">Typ<strong>e 2 Diabetes - Unmet Need</strong></a></li>
        <li><a href="#">Typ<strong>e 2 Diabetes - Emerging Treatment</strong></a></li>
        <li><a href="#">Typ<strong>e 2 Diabetes - Market Access</strong></a></li>
      </ul>           
      
      
      <ul class="list-unstyled search-suggestions dropdown-menu" id="search-suggestions-h">
        <li><a href="search-device.html">H<strong>eart Valve Devices</strong></a></li>
        <li><a href="#">H<strong>ypertension Management Devices</strong></a></li>
         <li><a href="#">H<strong>ysterectomy Alternatives</strong></a></li>
         <li><a href="#">H<strong>earing Aid Devices</strong></a></li>
         <li><a href="#">H<strong>eart Defect Closure</strong></a></li>
         <li><a href="#">H<strong>ernia Mesh</strong></a></li>
         <li><a href="#">H<strong>ernia Fixation</strong></a></li>
         <li><a href="#">H<strong>iatal</strong></a></li>
      </ul> 
      <ul class="list-unstyled search-suggestions dropdown-menu" id="search-suggestions-he">
        <li><a href="search-device.html">He<strong>art Valve Devices</strong></a></li>
        <li><a href="#">He<strong>aring Aid Devices</strong></a></li>
        <li><a href="#">He<strong>art Defect Closure</strong></a></li>
        <li><a href="#">He<strong>rnia Mesh</strong></a></li>
        <li><a href="#">He<strong>rnia Fixation</strong></a></li>
        <li><a href="#">He<strong>modynamic Monitoring</strong></a></li>
        <li><a href="#">He<strong>art Valves</strong></a></li>
      </ul> 
      <ul class="list-unstyled search-suggestions dropdown-menu" id="search-suggestions-hea">
        <li><a href="search-device.html">Hea<strong>rt Valve Devices</strong></a></li>
        <li><a href="#">Hea<strong>rt Defect Closure</strong></a></li>
        <li><a href="#">Hea<strong>ring Aid Devices</strong></a></li>
        <li><a href="#">Hea<strong>rt Valves</strong></a></li>
      </ul> 



  <script src="app-assets/js/jquery.cookie.js"></script> 
  <script type="text/javascript">
  $(document).ready( function () {
    
    if ($.cookie("bu") == null) {
      $.cookie("bu", "Digital");
    }
    
    setSearchDropdown();
    
    $('#BiopharmaDropdown,#BiopharmaTab').on('click', function() {
      $.cookie("bu", "Biopharma");
    });
    $('#DigitalDropdown,#DigitalTab').on('click', function() {
      $.cookie("bu", "Digital");
    });
    $('#MedtechDropdown,#MedtechTab').on('click', function() {
      $.cookie("bu", "Medtech");
    });
    $('#ReportDropdown').on('click', function() {
      $.cookie("bu", "Report");
    });
    
    function setSearchDropdown() {
  		var bu = $.cookie("bu");
  		if (bu == "Biopharma") {
    		displayname = "Disease, Drug & Company";
    		$('#searchDropdown .btn').addClass('smallertext');
  		} else if (bu == "Report") {
    		displayname = "Report Library";
    		$('#searchDropdown .btn').removeClass('smallertext');
    	}	else {
    		displayname = bu;
    		$('#searchDropdown .btn').removeClass('smallertext');
  		}
  		
  		$('#'+bu+'Dropdown').parent().parent().siblings().html(displayname + ' <span class="caret"></span>');
  		$('#'+bu+'Dropdown').parent().siblings().removeClass('active');
  		$('#'+bu+'Dropdown').parent().addClass('active');
  		$('.home-tabs a[href="#'+bu+'"]').tab('show');
  		$('.top-block.background-purple').removeClass('Digital-background').removeClass('Biopharma-background').removeClass('Medtech-background');
  		$('.top-block.background-purple').addClass(bu+'-background');
  		var theWidth = $('#searchDropdown .btn').outerWidth();
  		var parentWidth = $('#searchDropdown').parent().outerWidth();
  		var buttonWidth = $('#searchDropdown').outerHeight();
  		$('#search-box').css('padding-left', theWidth + 15);
  		$('.search-suggestions').css('margin-left', theWidth);
  		$('.search-suggestions').css('width',parentWidth-theWidth-buttonWidth);
  		$('#search-box').attr('placeholder', 'Search within '+displayname);
    }    
    
    $('#searchDropdown a, .home-tabs a').on('click', function() {
      setSearchDropdown()
    });
    $('#searchDropdown a').on('click', function() {
      $('#search-box').focus();
    });
    $('#searchDropdown .btn').on('click', function() {
      $('.search-suggestions').hide();
    });
	});
  </script>


      <script type="text/javascript">
        $(function() {
          $('#search-suggestions').hide(); 
          
          var bu = $.cookie("bu");
          if (bu == "Biopharma") {          
            
            $('#search-box').focus(function(){ // onfocus
              event.stopPropagation();
             if($('#search-box').val() == ('')) { // if value is default value
                $('#search-suggestions').show();
                $('#search-suggestions-t').hide();
                $('#search-suggestions-ty').hide(); 
                $('#search-suggestions-typ').hide();
              }
            });    
            $('#search-box').keyup(function(){
              if($('#search-box').val() == ('')) {
                $('#search-suggestions').show();
                $('#search-suggestions-t').hide();
                $('#search-suggestions-ty').hide(); 
                $('#search-suggestions-typ').hide(); 
              }
              if($('#search-box').val() == ('t')) {
                $('#search-suggestions').hide();
                $('#search-suggestions-t').show();
                $('#search-suggestions-ty').hide(); 
                $('#search-suggestions-typ').hide(); 
              }
              if($('#search-box').val() == ('ty')) {
                $('#search-suggestions').hide();
                $('#search-suggestions-t').hide(); 
                $('#search-suggestions-ty').show();
                $('#search-suggestions-typ').hide(); 
              }
              if($('#search-box').val() == ('typ')) {
                $('#search-suggestions').hide();
                $('#search-suggestions-t').hide(); 
                $('#search-suggestions-ty').hide();
                $('#search-suggestions-typ').show(); 
              } 
            });
          }


          $('#search-box').keyup(function(){
            if($('#search-box').val() == ('')) {
              $('#search-suggestions').show();
              $('#search-suggestions-h').hide();
              $('#search-suggestions-he').hide(); 
              $('#search-suggestions-hea').hide(); 
            }
            if($('#search-box').val() == ('h')) {
              $('#search-suggestions').hide();
              $('#search-suggestions-h').show();
              $('#search-suggestions-he').hide(); 
              $('#search-suggestions-hea').hide(); 
            }
            if($('#search-box').val() == ('he')) {
              $('#search-suggestions').hide();
              $('#search-suggestions-h').hide(); 
              $('#search-suggestions-he').show();
              $('#search-suggestions-hea').hide(); 
            }
            if($('#search-box').val() == ('hea')) {
              $('#search-suggestions').hide();
              $('#search-suggestions-h').hide(); 
              $('#search-suggestions-he').hide();
              $('#search-suggestions-hea').show(); 
            } 
          });


          $('#search-box').click( function(event){
            event.stopPropagation();
          });
          $(document).click( function(){
            $('#search-suggestions').hide();
            $('#search-suggestions-t').hide();
            $('#search-suggestions-ty').hide(); 
            $('#search-suggestions-typ').hide();
          });
        });
        $(document).ready(function () {
          $(".deleteRow").click(function () {
            event.stopPropagation();
            $(this).closest('li')
              .slideUp(200);
        });
        $( ".clear-all" ).click(function() {
          $('#search-suggestions').remove();
        });
	
});
      </script>
      
<script type="text/javascript">
$(document).ready(function(){
  
  var placeholder = $('.nav-search-box').attr("placeholder");
  
  $('.nav-search-button').click(function(e){
    
    $('#search-box').removeClass('has-error');
    if($('#search-box').val().length < 2) {
      $('#search-box').parent().addClass('has-error');
      $('#search-box').focus();
      $('#search-box').val('');
      $('#search-box').attr("placeholder", "Please type at least 2 characters");      
    } else if($('#searchDropdown:contains("Digital")').length > 0) {
      window.location.href = "search-digital.html";
    } else if($('#searchDropdown:contains("Medtech")').length > 0) {
      window.location.href = "search-device.html";
    } else {
      window.location.href = "search-disease.html";
    } 
    
  });
  $('#search-box').keyup(function(){
    if($('#search-box').val().length > 1) {
      $('#search-box').parent().removeClass('has-error');
      $('#search-box').attr("placeholder", placeholder); 
    }
  });
});
</script>
      