<ul class="toc-menu nav">
  <li class="panel"><span data-toggle="collapse" class="toc-divider" href="#o-ta1-l1"><input type="checkbox" />Autoimmune &amp; Inflammation</span>
    <ul class="nav collapse in" id="o-ta1-l1"> 
      <li class="panel"><a href="#"><input type="checkbox" />Dermatology <span class="fa fa-lg fa-chevron-circle-down" data-toggle="collapse" href="#o-ta1-sta1-l2" aria-expanded="true"></span></a>
        <ul class="nav collapse in" id="o-ta1-sta1-l2"> 
          <li class="panel"><a href="#"><input type="checkbox" />Psoriasis <span class="fa fa-lg fa-chevron-circle-down" data-toggle="collapse" href="#o-ta1-sta1-l3" aria-expanded="true"></span></a>
            <ul class="nav collapse in" id="o-ta1-sta1-l3"> 
              <li class="panel"><a href="#"><input type="checkbox" />Landscape &amp; Forecast <span class="fa fa-lg fa-chevron-circle-down" data-toggle="collapse" href="#o-ta1-sta1-l4" aria-expanded="true"></span></a>
                <ul class="nav collapse in" id="o-ta1-sta1-l4"> 
                  <li class="panel"><a href="#"><input type="checkbox" />Disease Landscape &amp; Forecast <span class="fa fa-lg fa-chevron-circle-down" data-toggle="collapse" href="#o-ta1-sta1-l5" aria-expanded="true"></span></a>
                    <ul class="nav collapse in" id="o-ta1-sta1-l5"> 
                      <li class="panel"><a href="#"><input type="checkbox" />Key Updates <span class="fa fa-lg fa-chevron-circle-down" data-toggle="collapse" href="#o-ta1-sta1-l6" aria-expanded="true"></span></a>
                        <ul class="nav collapse in" id="o-ta1-sta1-l6">
                          <li><a href="#"><input type="checkbox" />Key Findings</a></li>
                          <li><a href="#"><input type="checkbox" />Overview</a></li>
                          <li><a href="#"><input type="checkbox" />Market Drivers and Constraints</a></li>
                          <li><a href="#"><input type="checkbox" />Drug-Class-Specific Trends</a></li>
                        </ul>
                      </li>                
                    </ul> 
                  </li>                
                </ul> 
              </li>                
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>