<p class="toc-title" id="tourDiseaseToc">Table of contents <!--<a href="#" id="toc-expand">Expand all</a><a href="#" class="hide" id="toc-collapse">Collapse all</a>--></p>
<ul class="toc-menu nav">
  <li class="panel"><span data-toggle="collapse" class="toc-divider" href="#ta1-l1">Autoimmune &amp; Inflammation</span>
    <ul class="nav collapse in" id="ta1-l1"> 
      <li class="panel"><a href="#">Dermatology <span class="fa fa-lg fa-chevron-circle-down" data-toggle="collapse" href="#ta1-sta1-l2" aria-expanded="true"></span></a>
        <ul class="nav collapse in" id="ta1-sta1-l2"> 
          <li class="panel"><a href="#">Psoriasis <span class="fa fa-lg fa-chevron-circle-down" data-toggle="collapse" href="#ta1-sta1-l3" aria-expanded="true"></span></a>
            <ul class="nav collapse in" id="ta1-sta1-l3"> 
              <li class="panel"><a href="#">Landscape &amp; Forecast <span class="fa fa-lg fa-chevron-circle-down" data-toggle="collapse" href="#ta1-sta1-l4" aria-expanded="true"></span></a>
                <ul class="nav collapse in" id="ta1-sta1-l4"> 
                  <li class="panel"><a href="report-edit.html" id="landscape_heading1">Disease Landscape &amp; Forecast <span class="fa fa-lg fa-chevron-circle-down" data-toggle="collapse" href="#ta1-sta1-l5" aria-expanded="true"></span></a>
                    <ul class="nav collapse in" id="ta1-sta1-l5"> 
                      <li class="panel"><a href="chapter-edit.html" id="folder_heading1">Key Updates <span class="fa fa-lg fa-chevron-circle-down" data-toggle="collapse" href="#ta1-sta1-l6" aria-expanded="true"></span></a>
                        <ul class="nav child-section collapse in connected-sortable draggable-left" id="ta1-sta1-l6">
                          <li><a class="c-section title-link submenu" href="#text_heading" id="text_heading2"><i class="fas fa-file-alt ft9"></i> Text</a></li>
                          <li><a class="c-section title-link submenu" href="#image_heading" id="image_heading1"><i class="fas fa-image ft9"></i> Image</a></li>
                          <li><a class="c-section title-link submenu" href="#table_heading" id="table_heading1"><i class="fas fa-table ft9"></i> Table</a></li>
                          <li><a class="c-section title-link submenu" href="#attachment_heading" id="attachment_heading1"><i class="fas fa-upload ft9"></i> Attachment</a></li>
                        </ul>
                      </li>                
                    </ul> 
                  </li>                
                </ul> 
              </li>                
            </ul>
          </li>
        </ul>
      </li>
      <li class="panel"><a href="#">Gastrointestinal <span class="fa fa-lg fa-chevron-circle-down collapsed" data-toggle="collapse" href="#ta1-sta2-l2" aria-expanded="true"></span></a>
        <ul class="nav collapse" id="ta1-sta2-l2"> 
          <li class="panel"><a href="#">Ulcerative Colitis <span class="fa fa-lg fa-chevron-circle-down collapsed" data-toggle="collapse" href="#ta1-sta2-l3" aria-expanded="true"></span></a>
            <ul class="nav collapse" id="ta1-sta2-l3"> 
              <li class="panel"><a href="#">Landscape &amp; Forecast <span class="fa fa-lg fa-chevron-circle-down collapsed" data-toggle="collapse" href="#ta1-sta2-l4" aria-expanded="true"></span></a>
                <ul class="nav collapse" id="ta1-sta2-l4"> 
                  <li class="panel"><a href="#">Disease Landscape &amp; Forecast <span class="fa fa-lg fa-chevron-circle-down collapsed" data-toggle="collapse" href="#ta1-sta2-l5" aria-expanded="true"></span></a>
                    <ul class="nav collapse" id="ta1-sta2-l5"> 
                      <li class="panel"><a href="#">Key Updates <span class="fa fa-lg fa-chevron-circle-down collapsed" data-toggle="collapse" href="#ta1-sta2-l6" aria-expanded="true"></span></a>
                        <ul class="nav collapse" id="ta1-sta2-l6">
                          <li><a class="c-section title-link submenu" href="#text_heading" id="text_heading2"><i class="fas fa-file-alt ft9"></i> Text</a></li>
                          <li><a class="c-section title-link submenu" href="#image_heading" id="image_heading1"><i class="fas fa-image ft9"></i> Image</a></li>
                          <li><a class="c-section title-link submenu" href="#table_heading" id="table_heading1"><i class="fas fa-table ft9"></i> Table</a></li>
                          <li><a class="c-section title-link submenu" href="#attachment_heading" id="attachment_heading1"><i class="fas fa-upload ft9"></i> Attachment</a></li>
                        </ul>
                      </li>                
                    </ul> 
                  </li>                
                </ul> 
              </li>                
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="panel"><span data-toggle="collapse" class="toc-divider" href="#ta2-l1">Cardiovascular</span>
    <ul class="nav collapse" id="ta2-l1"> 
      <li class="panel"><a href="#">Cardiovascular <span class="fa fa-lg fa-chevron-circle-down collapsed" data-toggle="collapse" href="#ta2-sta1-l2" aria-expanded="true"></span></a>
        <ul class="nav collapse" id="ta2-sta1-l2"> 
          <li class="panel"><a href="#">Acute Coronary Syndrome <span class="fa fa-lg fa-chevron-circle-down collapsed" data-toggle="collapse" href="#ta2-sta1-l3" aria-expanded="true"></span></a>
            <ul class="nav collapse" id="ta2-sta1-l3"> 
              <li class="panel"><a href="#">Landscape &amp; Forecast <span class="fa fa-lg fa-chevron-circle-down collapsed" data-toggle="collapse" href="#ta2-sta1-l4" aria-expanded="true"></span></a>
                <ul class="nav collapse" id="ta2-sta1-l4"> 
                  <li class="panel"><a href="#">Disease Landscape &amp; Forecast <span class="fa fa-lg fa-chevron-circle-down collapsed" data-toggle="collapse" href="#ta2-sta1-l5" aria-expanded="true"></span></a>
                    <ul class="nav collapse" id="ta2-sta1-l5"> 
                      <li class="panel"><a href="#">Key Updates <span class="fa fa-lg fa-chevron-circle-down collapsed" data-toggle="collapse" href="#ta2-sta1-l6" aria-expanded="true"></span></a>
                        <ul class="nav collapse" id="ta2-sta1-l6">
                          <li><a href="#">Key Findings</a></li>
                          <li><a href="#">Overview</a></li>
                          <li><a href="#">Market Drivers and Constraints</a></li>
                          <li><a href="#">Drug-Class-Specific Trends</a></li>
                        </ul>
                      </li>                
                    </ul> 
                  </li>                
                </ul>
              </li>                
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<hr />

<p class="toc-title" id="tourDiseaseToc">Table of contents <!--<a href="#" id="toc-expand">Expand all</a><a href="#" class="hide" id="toc-collapse">Collapse all</a>--></p>          
<ul class="toc-menu nav">
  <li class="panel"><span data-toggle="collapse" class="toc-divider" href="#mta1-l1">Aesthetics</span>
    <ul class="nav collapse" id="mta1-l1"> 
      <li class="panel"><a href="#">Aesthetic Injectables <span class="fa fa-lg fa-chevron-circle-down collapsed" data-toggle="collapse" href="#mta1-ds1-l2" aria-expanded="true"></span></a>
        <ul class="nav collapse" id="mta1-ds1-l2"> 
          <li class="panel"><a href="#">Market Insights <span class="fa fa-lg fa-chevron-circle-down collapsed" data-toggle="collapse" href="#mta1-ds1-l3" aria-expanded="true"></span></a>
            <ul class="nav collapse" id="mta1-ds1-l3"> 
              <li class="panel"><a href="#">Global Market Trends <span class="fa fa-lg fa-chevron-circle-down collapsed" data-toggle="collapse" href="#mta1-ds1-l4" aria-expanded="true"></span></a></li>
              <li class="panel"><a href="#">Cardiac Assist Device Market <span class="fa fa-lg fa-chevron-circle-down collapsed" data-toggle="collapse" href="#mta1-ds1-l5" aria-expanded="true"></span></a></li>
            </ul> 
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="panel"><span data-toggle="collapse" class="toc-divider" href="#mta2-l1">Cardiovascular</span>
    <ul class="nav collapse" id="mta2-l1"> 
      <li class="panel"><a href="#">Cardiac Assist Devices <span class="fa fa-lg fa-chevron-circle-down collapsed" data-toggle="collapse" href="#mta2-ds1-l2" aria-expanded="true"></span></a>
        <ul class="nav collapse" id="mta2-ds1-l2"> 
          <li class="panel"><a href="#">Market Insights <span class="fa fa-lg fa-chevron-circle-down collapsed" data-toggle="collapse" href="#mta2-ds1-l3" aria-expanded="true"></span></a>
            <ul class="nav collapse" id="mta2-ds1-l3"> 
              <li class="panel"><a href="#">Global Market Trends <span class="fa fa-lg fa-chevron-circle-down collapsed" data-toggle="collapse" href="#mta2-ds1-l4" aria-expanded="true"></span></a></li>
              <li class="panel"><a href="#">Cardiac Assist Device Market <span class="fa fa-lg fa-chevron-circle-down collapsed" data-toggle="collapse" href="#mta2-ds1-l5" aria-expanded="true"></span></a></li>
            </ul> 
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<script>
    $(document).ready(function () {
        $("#text_heading1").click(function() {
            $('.rightnbar').animate({
                scrollTop: $("#text_heading").offset().top
            }, 1000);
        });
        $("#text_heading2").click(function() {
            $('.rightnbar').animate({
                scrollTop: $("#text_heading").offset().top
            }, 1000);
        });
        $("#folder_heading1").click(function() {
            $('.rightnbar').animate({
                scrollTop: $("#folder_heading").offset().top
            }, 1000);
        });
        $("#table_heading1").click(function() {
            $('.rightnbar').animate({
                scrollTop: $("#table_heading").offset().top
            }, 1000);
        });
        $("#image_heading1").click(function() {
            $('.rightnbar').animate({
                scrollTop: $("#image_heading").offset().top
            }, 1000);
        });
        $("#landscape_heading1").click(function() {
            $('.rightnbar').animate({
                scrollTop: $("#landscape_heading").offset().top
            }, 1000);
        });
        $("#attachment_heading1").click(function() {
            $('.rightnbar').animate({
                scrollTop: $("#attachment_heading").offset().top
            }, 1000);
        });
        $('.scrollbox').contextmenu({
            target: "#context-menu"
        });
        $('.submenu').contextmenu({
            target: "#context-menu1"
        });
        $('#landscape_heading1').contextmenu({
            target: "#context-menu2"
        });
        $(".draggable-left").sortable({
            connectWith: ".connected-sortable",
            stack: ".connected-sortable ul"
        }).disableSelection();
    });
</script>