
                <div class="jumbotron">
                  <img src="app-assets/images/laptop.png" alt="">
                  <p>Evidence-based intelligence is the gateway to commercial success</p>
                  <p><a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#requestAccess" id="requestAccessButton">Request Access</a></p>
                </div>
                <p class="lead">Commercial success is built on a deep understanding of the underlying factors that influence product awareness and adoption. Our Current Treatment solutions provide those insights.</p>
                <div class="row">
                  <div class="col-md-6">
                   <h3 style="margin-bottom: 15px"><strong>Blast off or fizzle?</strong></h3>
                   <p>How are newly launched products impacting market dynamics? And where do they fit in the treatment algorithm? What you learn can help you validate product positioning and messaging.</p> 
                  </div>
                  <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                    <hr class="dotted">
                  </div>
                  <div class="col-md-6">
                   <h3 style="margin-bottom: 15px"><strong>The proof is in the prescribing.</strong></h3>
                   <p>How well do physician attitudes and perceptions match their prescribing behavior? The answers can help you sharpen your competitive edge.</p> 
                  </div>
                  <div class="col-xs-12">
                    <hr class="dotted">
                  </div>
                  <div class="col-md-6">
                   <h3 style="margin-bottom: 15px"><strong>Rhyme or reason?</strong></h3>
                   <p>What is “why” behind treatment decisions? Examine patient-level data to understand how doctors arrive at patient management choices—and how their decisions can inform your strategies.</p> 
                  </div>
                  <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                    <hr class="dotted">
                  </div>
                  <div class="col-md-6">
                   <h3 style="margin-bottom: 15px"><strong>Stay evidence-based and up to date</strong></h3>
                   <p>Keep you finger on the pulse of the Current Treatment environment.</p> 
                  </div>
                </div> 