<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h3><span class="number">4</span> What columns do you want to view?</h3>
</div>

<div class="modal-body">    
  <div class="row double-padding">   
    <div class="col-sm-6 col-sm-divider-right">
      <h4>Years</h4>
      <div class="set-height-wrapper">
        <ul class="dropdown-menu nondropdown set-height years-select">
          <li class="checkbox parent-checkbox active"><label><input type="checkbox" name="mi-year" checked="checked">Select All</label></li>
          <li class="checkbox active"><label><input type="checkbox" name="mi-year" value="2016" checked="checked">2016</label></li>
          <li class="checkbox active"><label><input type="checkbox" name="mi-year" value="2017" checked="checked">2017</label></li>
          <li class="checkbox active"><label><input type="checkbox" name="mi-year" value="2018" checked="checked">2018</label></li>
          <li class="checkbox active"><label><input type="checkbox" name="mi-year" value="2019" checked="checked">2019</label></li>
          <li class="checkbox active"><label><input type="checkbox" name="mi-year" value="2020" checked="checked">2020</label></li>
          <li class="checkbox active"><label><input type="checkbox" name="mi-year" value="2021" checked="checked">2021</label></li>
          <li class="checkbox active"><label><input type="checkbox" name="mi-year" value="2022" checked="checked">2022</label></li>
          <li class="checkbox active"><label><input type="checkbox" name="mi-year" value="2023" checked="checked">2023</label></li>
          <li class="checkbox active"><label><input type="checkbox" name="mi-year" value="2025" checked="checked">2024</label></li>
          <li class="checkbox active"><label><input type="checkbox" name="mi-year" value="2025" checked="checked">2025</label></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 col-sm-divider-right">
      <h4>Metrics</h4>
      <div class="set-height-wrapper">
        <ul class="dropdown-menu nondropdown set-height">
          <li class="checkbox metric-procedures"><label><input type="checkbox" name="mi-metric" value="Procedures">Procedures</label></li>
          <li class="checkbox metric-manufacturer"><label><input type="checkbox" name="mi-metric" value="Market Value">Revenue</label></li>
          <li class="checkbox metric-manufacturer"><label><input type="checkbox" name="mi-metric" value="Units Sold">Market Share</label></li>
          <li class="checkbox metric-product"><label><input type="checkbox" name="mi-metric" value="Market Value">Market Value</label></li>
          <li class="checkbox metric-product"><label><input type="checkbox" name="mi-metric" value="Units Sold">Units Sold</label></li>
          <li class="checkbox metric-product"><label><input type="checkbox" name="mi-metric" value="Units Used">Units Used</label></li>
          <li class="checkbox metric-product"><label><input type="checkbox" name="mi-metric" value="Tests">Tests</label></li>
          <li class="checkbox metric-product"><label><input type="checkbox" name="mi-metric" value="Bridges Sold">Bridges Sold</label></li>
          <li class="checkbox metric-product"><label><input type="checkbox" name="mi-metric" value="Installed Base">Installed Base</label></li>
          <li class="checkbox metric-product"><label><input type="checkbox" name="mi-metric" value="Average Selling Price per Unit">Average Selling Price per Unit</label></li>
          <li class="checkbox metric-product"><label><input type="checkbox" name="mi-metric" value="Facilities">Facilities</label></li>
          <li class="checkbox metric-product"><label><input type="checkbox" name="mi-metric" value="Volume Used (cc)">Volume Used (cc)</label></li>
          <li class="checkbox metric-product"><label><input type="checkbox" name="mi-metric" value="Total Value of Units">Total Value of Units</label></li>
          <li class="checkbox metric-product"><label><input type="checkbox" name="mi-metric" value="Treatments">Treatments</label></li>
          <li class="checkbox metric-product"><label><input type="checkbox" name="mi-metric" value="Injections">Injections</label></li>
          <li class="checkbox metric-product"><label><input type="checkbox" name="mi-metric" value="Patients">Patients</label></li>
          <li class="checkbox metric-product"><label><input type="checkbox" name="mi-metric" value="Units Used per Procedure">Units Used per Procedure</label></li>
          <li class="checkbox metric-product"><label><input type="checkbox" name="mi-metric" value="Prescriptions">Prescriptions</label></li>
          <li class="checkbox metric-product"><label><input type="checkbox" name="mi-metric" value="Volume Sold (cc)">Volume Sold (cc)</label></li>
          <li class="checkbox metric-product"><label><input type="checkbox" name="mi-metric" value="Supply Cost Savings">Supply Cost Savings</label></li>
          <li class="checkbox metric-product"><label><input type="checkbox" name="mi-metric" value="Reuse Rate">Reuse Rate</label></li>
          <li class="checkbox metric-product"><label><input type="checkbox" name="mi-metric" value="Initial Revenues">Initial Revenues</label></li>
          <li class="checkbox metric-product"><label><input type="checkbox" name="mi-metric" value="Average Selling Price per Procedure">Average Selling Price per Procedure</label></li>
          <li class="checkbox metric-product"><label><input type="checkbox" name="mi-metric" value="Recurring Revenues">Recurring Revenues</label></li>
          <li class="checkbox metric-product"><label><input type="checkbox" name="mi-metric" value="Average Volume Used (cc) per Procedure">Average Volume Used (cc) per Procedure</label></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="modal-footer">
  <button type="button" class="btn btn-lg btn-primary pull-left goto-step3"><i class="fa fa-arrow-left" aria-hidden="true"></i> Previous</button>
  <button type="button" class="btn btn-lg btn-primary pull-right goto-step5">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
</div>
  
