<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h3><span class="number">3</span> What columns do you want to view?</h3>
</div>



<div class="modal-body">    
  <div class="row double-padding">   
    <div class="col-sm-6 col-sm-divider-right">
      <h4>Years</h4>
      <div class="set-height-wrapper">
        <ul class="dropdown-menu nondropdown set-height years-select">
          <li class="checkbox parent-checkbox active"><label><input type="checkbox" name="bt-year" checked="checked">Select All</label></li>
          <li class="checkbox active"><label><input type="checkbox" name="bt-year" value="2010" checked="checked">2010</label></li>
          <li class="checkbox active"><label><input type="checkbox" name="bt-year" value="2011" checked="checked">2011</label></li>
          <li class="checkbox active"><label><input type="checkbox" name="bt-year" value="2012" checked="checked">2012</label></li>
          <li class="checkbox active"><label><input type="checkbox" name="bt-year" value="2013" checked="checked">2013</label></li>
          <li class="checkbox active"><label><input type="checkbox" name="bt-year" value="2014" checked="checked">2014</label></li>
          <li class="checkbox active"><label><input type="checkbox" name="bt-year" value="2015" checked="checked">2015</label></li>
          <li class="checkbox active"><label><input type="checkbox" name="bt-year" value="2016" checked="checked">2016</label></li>
          <li class="checkbox active"><label><input type="checkbox" name="bt-year" value="2017" checked="checked">2017</label></li>
          <li class="divider"></li>
          <li class="dropdown-header">Period</li>
          <li class="radio active"><label><input type="radio" name="bt-group" value="Monthly" checked="checked">Monthly</label></li>
          <li class="radio"><label><input type="radio" name="bt-group" value="Quarterly">Quarterly</label></li>
          <li class="radio"><label><input type="radio" name="bt-group" value="Annually">Annually</label></li>
        </ul>
      </div>
    </div>  
    <div class="col-sm-6 col-sm-divider-left">
      <h4>Metrics</h4>
      <div class="set-height-wrapper">
        <ul class="dropdown-menu nondropdown set-height">
          <li class="checkbox active"><label><input type="checkbox" name="bt-metric" value="Revenue" checked="checked">Revenue</label></li>
          <li class="checkbox active"><label><input type="checkbox" name="bt-metric" value="Units" checked="checked">Units</label></li>
        </ul>      
      </div>
    </div>
  </div>      
</div>


<div class="modal-footer">
  <button type="button" class="btn btn-lg btn-primary pull-left goto-step2"><i class="fa fa-arrow-left" aria-hidden="true"></i> Previous</button>
  <button type="button" class="btn btn-lg btn-primary pull-right goto-step4">Next</button>
</div>  