<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h3><span class="number">3</span> What markets do you want to compare?</h3>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-sm-9">
      <h6>Quick Search</h6>
      <div class="searchbox has-feedback has-icon no-label">
        <input type="text" class="form-control input-lg hasclear two-tier-search" placeholder="Start Typing a Market" onkeyup="filter(this)">
        <span class="clearer fa fa-times-circle form-control-feedback" style="display: none;"></span> 
        <span class="fa fa-lg fa-search input-icon"></span>
      </div>
    </div>   
    <div class="col-sm-3 pull-right" style="width:auto;">
      <h6><span class="not-owned-tag">Not Owned</span></h6>
      <div class="btn-group ownership-toggle">
        <button type="button" class="btn btn-lg btn-default active show-notowned">Show</button>
        <button type="button" class="btn btn-lg btn-default hide-notowned">Hide</button>
      </div>
    </div>
  </div>

  <div class="dropdown-menu two-tier-select nondropdown">
    <div class="row no-padding">
      <ul class="col-sm-4 list-unstyled set-height two-tier-select-parent">
        <li class="active"><a href="#show-all" data-toggle="tab" id="tabAll">All Markets</a></li>
        <li class="divider"></li>  
        <li><a href="#mi-ta-1" data-toggle="tab">Aesthetics <span class="count hide"></span></a></li>  
        <li><a href="#mi-ta-2" data-toggle="tab">Cardiovascular <span class="count hide"></span></a></li>
        <li><a href="#mi-ta-3" data-toggle="tab">Dental <span class="count hide"></span></a></li>
        <li><a href="#mi-ta-4" data-toggle="tab">Endoscopy &amp; Gynecology <span class="count hide"></span></a></li>  
        <li><a href="#mi-ta-5" data-toggle="tab">Imaging &amp; Healthcare IT<span class="count hide"></span></a></li>  
        <li><a href="#mi-ta-6" data-toggle="tab">Orthopedics <span class="count hide"></span></a></li>   
      </ul>

      </ul>
      <div class="tab-content col-sm-8 set-height has-searchbox two-tier-select-child">
        <ul class="list-unstyled tab-pane active in" id="mi-ta-1">
          
          <li class="checkbox grandparent-checkbox">
            <label><input type="checkbox" name="mi-ta1-checkboxes">Aesthetics</label>
          </li>
          
          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta1-1-checkboxes" value="Aesthetic Energy-Based Devices">Aesthetic Energy-Based Devices</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta1-1-checkboxes" value="United States">United States</label>
          </li>
          
          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta1-2-checkboxes" value="Cosmetic Threads">Cosmetic Threads</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta1-2-checkboxes" value="Europe">Europe</label>
          </li>
          
          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta1-3-checkboxes" value="Facial Injectables">Facial Injectables</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta1-3-checkboxes" value="Asia Pacific">Asia Pacific</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta1-3-checkboxes" value="Latin America">Latin America</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta1-3-checkboxes" value="Europe">Europe</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta1-3-checkboxes" value="United States">United States</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta1-3-checkboxes" value="Global">Global</label>
          </li>
          
          <li class="checkbox parent-checkbox disabled">
            <label><input type="checkbox" name="mi-ta1-4-checkboxes" disabled="disabled" value="Physician-Dispensed Cosmeceuticals">Physician-Dispensed Cosmeceuticals</label>
          </li>
          <li class="checkbox disabled not-owned">
            <label><input type="checkbox" name="mi-ta1-4-checkboxes" disabled="disabled" value="Europe"><span class="not-owned-tag"></span>Europe</label>
          </li>
          <li class="checkbox disabled not-owned">
            <label><input type="checkbox" name="mi-ta1-4-checkboxes" disabled="disabled" value="United States"><span class="not-owned-tag"></span>United States</label>
          </li>
          
          <li class="checkbox parent-checkbox disabled">
            <label><input type="checkbox" name="mi-ta1-5-checkboxes" disabled="disabled" value="Therapeutic Botulinum Toxin">Therapeutic Botulinum Toxin</label>
          </li>
          <li class="checkbox disabled not-owned">
            <label><input type="checkbox" name="mi-ta1-5-checkboxes" disabled="disabled" value="Global"><span class="not-owned-tag"></span>Global</label>
          </li>
          
        </ul>
        
        
        <ul class="list-unstyled tab-pane active in" id="mi-ta-2">
          
          <li class="checkbox grandparent-checkbox">
            <label>
              <input type="checkbox" name="mi-ta2-checkboxes" value="">Cardiovascular </label>
          </li>

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta2-1-checkboxes" value="Aortic Repair Devices">Aortic Repair Devices</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-1-checkboxes" value="Asia Pacific">Asia Pacific</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-1-checkboxes" value="Canada">Canada</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-1-checkboxes" value="Europe">Europe</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-1-checkboxes" value="Japan">Japan</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-1-checkboxes" value="Latin America">Latin America</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-1-checkboxes" value="United States">United States</label>
          </li>
          
          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta2-2-checkboxes" value="Cardiac Assist Devices">Cardiac Assist Devices</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-2-checkboxes" value="Europe">Europe</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-2-checkboxes" value="United States">United States</label>
          </li>
          
          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta2-3-checkboxes" value="Cardiac Rhythm Management Devices">Cardiac Rhythm Management Devices</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-3-checkboxes" value="Asia Pacific">Asia Pacific</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-3-checkboxes" value="Global">Global</label>
          </li>            
          
          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta2-4-checkboxes" value="Clot Management Devices">Clot Management Devices</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-4-checkboxes" value="Asia Pacific">Asia Pacific</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-4-checkboxes" value="Europe">Europe</label>
          </li>              
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-4-checkboxes" value="United States">United States</label>
          </li>             

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta2-5-checkboxes" value="Corononary Artery Bypass Graft Devices">Coronary Artery Bypass Graft Devices</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-5-checkboxes" value="Europe">Europe</label>
          </li>              
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-5-checkboxes" value="United States">United States</label>
          </li> 
          
          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta2-6-checkboxes" value="Diabetes Care Devices">Diabetes Care Devices</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-6-checkboxes" value="Europe">Europe</label>
          </li>              
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-6-checkboxes" value="United States">United States</label>
          </li>             
          
          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta2-7-checkboxes" value="Electrophysiology Mapping and Ablation Devices">Electrophysiology Mapping and Ablation Devices</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-7-checkboxes" value="Asia Pacific">Asia Pacific</label>
          </li>              
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-7-checkboxes" value="Europe">Europe</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-7-checkboxes" value="Japan">Japan</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-7-checkboxes" value="Latin America">Latin America</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-7-checkboxes" value="United States">United States</label>
          </li>                        

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta2-8-checkboxes" value="Heart Valve Devices">Heart Valve Devices</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-8-checkboxes" value="Asia Pacific">Asia Pacific</label>
          </li>              
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-8-checkboxes" value="Europe">Europe</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-8-checkboxes" value="Japan">Japan</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-8-checkboxes" value="Latin America">Latin America</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-8-checkboxes" value="United States">United States</label>
          </li>            

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta2-9-checkboxes" value="Interventional Cardiology Devices">Interventional Cardiology Devices</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-9-checkboxes" value="Asia Pacific">Asia Pacific</label>
          </li>              
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-9-checkboxes" value="Canada">Canada</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-9-checkboxes" value="Europe">Europe</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-9-checkboxes" value="Japan">Japan</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-9-checkboxes" value="Latin America">Latin America</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-9-checkboxes" value="United States">United States</label>
          </li>             

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta2-10-checkboxes" value="Interventional Oncology Devices">Interventional Oncology Devices</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-10-checkboxes" value="Asia Pacific">Asia Pacific</label>
          </li>              
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-10-checkboxes" value="China">China</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-10-checkboxes" value="Europe">Europe</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-10-checkboxes" value="Japan">Japan</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-10-checkboxes" value="United States">United States</label>
          </li>  
          
          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta2-11-checkboxes" value="Neurostimulation Devices">Neurostimulation Devices</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-11-checkboxes" value="United States">United States</label>
          </li>            
          
          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta2-12-checkboxes" value="Neurosurgical Devices">Neurosurgical Devices</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-12-checkboxes" value="Europe">Europe</label>
          </li>  
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-12-checkboxes" value="United States">United States</label>
          </li>             
          
          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta2-13-checkboxes" value="Peripheral Vascular Devices">Peripheral Vascular Devices</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-13-checkboxes" value="Asia Pacific">Asia Pacific</label>
          </li>              
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-13-checkboxes" value="Canada">Canada</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-13-checkboxes" value="Europe">Europe</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-13-checkboxes" value="Japan">Japan</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-13-checkboxes" value="Latin America">Latin America</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-13-checkboxes" value="United States">United States</label>
          </li>             

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta2-14-checkboxes" value="Structural Heart Closure Devices">Structural Heart Closure Devices</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-14-checkboxes" value="Global">Global</label>
          </li>  

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta2-15-checkboxes" value="Transcatheter Embolization and Occlusion Devices">Transcatheter Embolization and Occlusion Devices</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-15-checkboxes" value="Asia Pacific">Asia Pacific</label>
          </li>              
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-15-checkboxes" value="Europe">Europe</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-15-checkboxes" value="Japan">Japan</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-15-checkboxes" value="Latin America">Latin America</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-15-checkboxes" value="United States">United States</label>
          </li>            
          
          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta2-16-checkboxes" value="Varicose Vein Treatment Devices">Varicose Vein Treatment Devices</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-16-checkboxes" value="Asia Pacific">Asia Pacific</label>
          </li>              
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-16-checkboxes" value="Europe">Europe</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-16-checkboxes" value="United States">United States</label>
          </li>                       

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta2-17-checkboxes" value="Vascular Access Devices">Vascular Access Devices</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-17-checkboxes" value="Asia Pacific">Asia Pacific</label>
          </li>              
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-17-checkboxes" value="Europe">Europe</label>
          </li> 

          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-17-checkboxes" value="United States">United States</label>
          </li>  

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta2-18-checkboxes" value="Vascular Close Devices">Vascular Close Devices</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta2-18-checkboxes" value="Global">Global</label>
          </li>
          
        </ul>
        
        <ul class="list-unstyled tab-pane active in" id="mi-ta-3">
          
          <li class="checkbox grandparent-checkbox">
            <label><input type="checkbox" name="mi-ta3-checkboxes">Dental</label>
          </li>

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta3-1-checkboxes" value="Crowns and Bridges">Crowns and Bridges</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta3-1-checkboxes" value="Europe">Europe</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta3-1-checkboxes" value="United States">United States</label>
          </li>  

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta3-2-checkboxes" value="Dental Biomaterials">Dental Biomaterials</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta3-2-checkboxes" value="Asia Pacific">Asia Pacific</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta3-2-checkboxes" value="China">China</label>
          </li>            
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta3-2-checkboxes" value="Europe">Europe</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta3-2-checkboxes" value="Latin America">Latin America</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta3-2-checkboxes" value="North America">North America</label>
          </li>

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta3-3-checkboxes" value="Dental Implants">Dental Implants</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta3-3-checkboxes" value="Asia Pacific">Asia Pacific</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta3-3-checkboxes" value="Europe">Europe</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta3-3-checkboxes" value="Latin America">Latin America</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta3-3-checkboxes" value="North America">North America</label>
          </li>

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta3-4-checkboxes" value="Dental CAD/CAM Systems">Dental CAD/CAM Systems</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta3-4-checkboxes" value="Global">Global</label>
          </li>
                      
        </ul>          


         <ul class="list-unstyled tab-pane active in" id="mi-ta-4">
          
          <li class="checkbox grandparent-checkbox">
            <label><input type="checkbox" name="mi-ta4-checkboxes">Endoscopy & Gynecology</label>
          </li>

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta4-1-checkboxes" value="Biopsy Devices">Biopsy Devices </label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-1-checkboxes" value="Asia Pacific">Asia Pacific</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-1-checkboxes" value="Europe">Europe</label>
          </li>  
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-1-checkboxes" value="United States">United States</label>
          </li>  

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta4-2-checkboxes" value="Drug Delivery Devices">Drug Delivery Devices</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-2-checkboxes" value="United States">United States</label>
          </li> 
          
          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta4-3-checkboxes" value="Endoscope Service">Endoscope Service</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-3-checkboxes" value="United States">United States</label>
          </li> 

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta4-4-checkboxes" value="ENT and Bronchoscopy Devices">ENT and Bronchoscopy Devices</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-4-checkboxes" value="Europe">Europe</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-4-checkboxes" value="United States">United States</label>
          </li> 

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta4-5-checkboxes" value="Gastrointestinal Endoscopy Devices">Gastrointestinal Endoscopy Devices</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-5-checkboxes" value="Asia Pacific">Asia Pacific</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-5-checkboxes" value="Europe">Europe</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-5-checkboxes" value="United States">United States</label>
          </li>

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta4-6-checkboxes" value="Gynecological Devices">Gynecological Devices</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-6-checkboxes" value="Asia Pacific">Asia Pacific</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-6-checkboxes" value="Chinae">China</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-6-checkboxes" value="Europe">Europe</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-6-checkboxes" value="Japan">Japan</label>
          </li>  
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-6-checkboxes" value="United States">United States</label>
          </li>

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta4-7-checkboxes" value="Hernia Repair Devices">Hernia Repair Devices</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-7-checkboxes" value="Global">Global</label>
          </li>

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta4-8-checkboxes" value="Infusion Pumps">Infusion Pumps</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-8-checkboxes" value="Asia Pacific">Asia Pacific</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-8-checkboxes" value="Europe">Europe</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-8-checkboxes" value="United States">United States</label>
          </li>

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta4-9-checkboxes" value="Laparoscopic Devices">Laparoscopic Devices</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-9-checkboxes" value="Asia Pacific">Asia Pacific</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-9-checkboxes" value="China">China</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-9-checkboxes" value="Europe">Europe</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-9-checkboxes" value="Latin America">Latin America</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-9-checkboxes" value="United States">United States</label>
          </li>

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta4-10-checkboxes" value="Outsourced Devices">Outsourced Devices</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-10-checkboxes" value="Global">Global</label>
          </li>

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta4-11-checkboxes" value="Obesity Interventions">Obesity Interventions</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-11-checkboxes" value="Europe">Europe</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-11-checkboxes" value="Latin America">Latin America</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-11-checkboxes" value="Middle East">Middle East</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-11-checkboxes" value="United States">United States</label>
          </li>

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta4-12-checkboxes" value="Open Surgery Instruments">Open Surgery Instruments</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-12-checkboxes" value="Asia Pacific">Asia Pacific</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-12-checkboxes" value="Europe">Europe</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-12-checkboxes" value="United States">United States</label>
          </li>

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta4-13-checkboxes" value="Reprocessed Devices">Reprocessed Devices</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-13-checkboxes" value="United States">United States</label>
          </li>

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta4-14-checkboxes" value="Urological Devices">Urological Devices</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-14-checkboxes" value="Asia Pacific">Asia Pacific</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-14-checkboxes" value="China">China</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-14-checkboxes" value="Europe">Europe</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-14-checkboxes" value="Japan">Japan</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-14-checkboxes" value="Latin America">Latin America</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-14-checkboxes" value="United States">United States</label>
          </li>

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta4-15-checkboxes" value="Video and High-Tech Hardware Devices">Video and High-Tech Hardware Devices</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-15-checkboxes" value="Europe">Europe</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta4-15-checkboxes" value="United States">United States</label>
          </li>

        </ul> 

        <ul class="list-unstyled tab-pane active in" id="mi-ta-5">
          
          <li class="checkbox grandparent-checkbox">
            <label><input type="checkbox" name="mi-ta5-checkboxes">Imaging + Healthcare IT</label>
          </li>

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta5-1-checkboxes" value="Advanced Visualization Systems">Advanced Visualization Systems</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta5-1-checkboxes" value="United States">United States</label>
          </li> 

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta5-2-checkboxes" value="Contrast Agents and Radiopharmaceuticals">Contrast Agents and Radiopharmaceuticals</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta5-2-checkboxes" value="United States">United States</label>
          </li> 

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta5-3-checkboxes" value="Dental Imaging Systems">Dental Imaging Systems</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta5-3-checkboxes" value="Global">Global</label>
          </li>           

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta5-4-checkboxes" value="Diagnostic Imaging Equipment Servicing">Diagnostic Imaging Equipment Servicing</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta5-4-checkboxes" value="Europe">Europe</label>
          </li>  
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta5-4-checkboxes" value="United States">United States</label>
          </li> 

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta5-5-checkboxes" value="Diagnostic Imaging Systems">Diagnostic Imaging Systems</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta5-5-checkboxes" value="Brazil">Brazil</label>
          </li>  
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta5-5-checkboxes" value="Europe">Europe</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta5-5-checkboxes" value="Japan">Japan</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta5-5-checkboxes" value="United States">United States</label>
          </li>

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta5-6-checkboxes" value="Electronic Medical Records">Electronic Medical Records</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta5-6-checkboxes" value="Global">Global</label>
          </li>  

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta5-7-checkboxes" value="Enterprise Solutions">Enterprise Solutions</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta5-7-checkboxes" value="Europe">Europe</label>
          </li>

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta5-8-checkboxes" value="In Vitro Diagnostics">In Vitro Diagnostics</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta5-8-checkboxes" value="United States">United States</label>
          </li>

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta5-9-checkboxes" value="PACS, RIS, and CVIS">PACS, RIS, and CVIS</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta5-9-checkboxes" value="Europe">Europe</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta5-9-checkboxes" value="United States">United States</label>
          </li>

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta5-10-checkboxes" value="Patient Monitoring Devices">Patient Monitoring Devices</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta5-10-checkboxes" value="Europe">Europe</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta5-10-checkboxes" value="United States">United States</label>
          </li>

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta5-11-checkboxes" value="Surgical Navigation Systems">Surgical Navigation Systems</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta5-11-checkboxes" value="Europe">Europe</label>
          </li>
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta5-11-checkboxes" value="United States">United States</label>
          </li>

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta5-12-checkboxes" value="Women's Health Imaging Systems">Women's Health Imaging Systems</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta5-12-checkboxes" value="United States">United States</label>
          </li>

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta5-13-checkboxes" value="X-Ray Systems">X-Ray Systems</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta5-13-checkboxes" value="United States">United States</label>
          </li>
          
        </ul>
        
        <ul class="list-unstyled tab-pane active in" id="mi-ta-6">
          
          <li class="checkbox grandparent-checkbox">
            <label><input type="checkbox" name="mi-ta6-checkboxes">Orthopedics</label>
          </li>
          
          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta6-1-checkboxes" value="Bone Cement and Accessories">Bone Cement and Accessories</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-1-checkboxes" value="Global">Global</label>
          </li>          

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta6-2-checkboxes" value="Bone Graft Substitutes">Bone Graft Substitutes</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-2-checkboxes" value="Global">Global</label>
          </li>


          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta6-3-checkboxes" value="Craniomaxilllofacial Devices">Craniomaxilllofacial Devices</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-3-checkboxes" value="Asia Pacific">Asia Pacific</label>
          </li>  
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-3-checkboxes" value="China">China</label>
          </li>  
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-3-checkboxes" value="Europe">Europe</label>
          </li>  
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-3-checkboxes" value="United States">United States</label>
          </li>  

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta6-4-checkboxes" value="Trauma Devices">Large-Joint Reconstructive Implants</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-4-checkboxes" value="Asia Pacific">Asia Pacific</label>
          </li>  
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-4-checkboxes" value="Europe">Europe</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-4-checkboxes" value="Japan">Japan</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-4-checkboxes" value="Latin America">Latin America</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-4-checkboxes" value="United States">United States</label>
          </li> 

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta6-5-checkboxes" value="Minimally Invasive Spine Technologies">Minimally Invasive Spine Technologies</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-5-checkboxes" value="United States">United States</label>
          </li> 

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta6-6-checkboxes" value="Minimally Invasive Vertebral Compression Fracture Treatments">Minimally Invasive Vertebral Compression Fracture Treatments</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-6-checkboxes" value="Global">Global</label>
          </li> 

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta6-7-checkboxes" value="Orthopedic Extremity Devices">Orthopedic Extremity Devices</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-7-checkboxes" value="Asia Pacific">Asia Pacific</label>
          </li>  
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-7-checkboxes" value="China">China</label>
          </li>  
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-7-checkboxes" value="Latin America">Latin America</label>
          </li>  
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-7-checkboxes" value="Europe">Europe</label>
          </li>  
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-7-checkboxes" value="United States">United States</label>
          </li>  

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta6-8-checkboxes" value="Orthotic and Prosthetic Devices">Orthotic and Prosthetic Devices</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-8-checkboxes" value="Europe">Europe</label>
          </li>  
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-8-checkboxes" value="United States">United States</label>
          </li>  
          
          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta6-9-checkboxes" value="Pain Management Devices">Pain Management Devices</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-9-checkboxes" value="United States">United States</label>
          </li>             
          
          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta6-10-checkboxes" value="Pediatric Orthopedic Devices">Pediatric Orthopedic Devices</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-10-checkboxes" value="United States">United States</label>
          </li>             

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta6-11-checkboxes" value="Powered Surgical Instruments">Powered Surgical Instruments</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-11-checkboxes" value="Global">Global</label>
          </li>  

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta6-12-checkboxes" value="Regenerative Medicine">Regenerative Medicine</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-12-checkboxes" value="United States">United States</label>
          </li> 

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta6-13-checkboxes" value="Skin Replacements and Substitutes">Skin Replacements and Substitutes</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-13-checkboxes" value="United States">United States</label>
          </li> 

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta6-14-checkboxes" value="Spinal Implants">Spinal Implants</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-14-checkboxes" value="Asia Pacific">Asia Pacific</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-14-checkboxes" value="Europe">Europe</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-14-checkboxes" value="Japan">Japan</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-14-checkboxes" value="Latin America">Latin America</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-14-checkboxes" value="United States">United States</label>
          </li>  

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta6-15-checkboxes" value="Sports Medicine Devices">Sports Medicine Devices</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-15-checkboxes" value="Asia Pacific">Asia Pacific</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-15-checkboxes" value="China">China</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-15-checkboxes" value="Europe">Europe</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-15-checkboxes" value="Latin America">Latin America</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-15-checkboxes" value="United States">United States</label>
          </li> 

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta6-16-checkboxes" value="Surgical Hemostats, Internal Tissue Sealants, and Adhesion Barriers">Surgical Hemostats, Internal Tissue Sealants, and Adhesion Barriers</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-16-checkboxes" value="Asia Pacific">Asia Pacific</label>
          </li>  
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-16-checkboxes" value="Europe">Europe</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-16-checkboxes" value="Latin America">Latin America</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-16-checkboxes" value="United States">United States</label>
          </li> 

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta6-17-checkboxes" value="Trauma Devices">Trauma Devices</label>
          </li>           
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-17-checkboxes" value="Asia Pacific">Asia Pacific</label>
          </li>  
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-17-checkboxes" value="Europe">Europe</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-17-checkboxes" value="Japan">Japan</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-17-checkboxes" value="Latin America">Latin America</label>
          </li> 
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-17-checkboxes" value="United States">United States</label>
          </li> 

          <li class="checkbox parent-checkbox">
            <label><input type="checkbox" name="mi-ta6-18-checkboxes" value="Veterinary Orthopedic Devices">Veterinary Orthopedic Devices</label>
          </li>            
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-18-checkboxes" value="Europe">Europe</label>
          </li>  
          <li class="checkbox">
            <label><input type="checkbox" name="mi-ta6-18-checkboxes" value="United States">United States</label>
          </li> 
        
        </ul>
        
      </div>
    </div>
  </div>	            
</div>    
<div class="modal-footer">
  <button type="button" class="btn btn-lg btn-primary pull-left goto-step2"><i class="fa fa-arrow-left" aria-hidden="true"></i> Previous</button>
  <button type="button" class="btn btn-lg btn-primary pull-right goto-step4 disabled">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
  <div class="device-counts text-center">
    <p><span class="total-count">0</span> Markets Selected</p>
    <p>
      <button type="button" class="btn btn-link disabled deselect-all">Deselect All</button>
    </p>
  </div>
</div>