<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h3><span class="number">2</span> What products do you want to compare?</h3>
</div>

<div class="modal-body">

  <div class="row">
    <div class="col-sm-9">
      <h6>Quick Search</h6>
      <div class="searchbox has-feedback has-icon no-label">
        <input type="text" class="form-control input-lg hasclear two-tier-search" placeholder="Start typing" onkeyup="filter(this)">
        <span class="clearer fa fa-times-circle form-control-feedback" style="display: none;"></span> 
        <span class="fa fa-lg fa-search input-icon"></span>
      </div>
    </div>   
    <div class="col-sm-3 pull-right"  style="width:auto" id="bt-btNotOwnedToggle">
      <h6><span class="not-owned-tag">Not Owned</span></h6>
      <div class="btn-group ownership-toggle">
        <button type="button" class="btn btn-lg btn-default active show-notowned">Show</button>
        <button type="button" class="btn btn-lg btn-default hide-notowned">Hide</button>
      </div>
    </div>
  </div>

<div class="collapsable-tree-controls">
  <ul class="nav nav-tabs alert-tabs">
    <li class="active"><a href="#bt-byDevice" data-toggle="tab">Group by Device</a></li>
    <li><a href="#bt-byRegion" data-toggle="tab">Group by Region</a></li>
  </ul>
  <div class="expand-collapse-links">
    <a href="#bt-" class="expand-all">Expand All</a>
    <a href="#bt-" class="collapse-all">Collapse All</a>
  </div>  
</div>  

  

  <div class="dropdown-menu two-tier-select nondropdown tab-content">
    <div class="row no-padding tab-pane fade active in" id="bt-byDevice">
      <ul class="col-sm-4 list-unstyled set-height two-tier-select-parent">
        <li class="active"><a href="#bt-show-all" data-toggle="tab" id="bt-tabAll">All Markets</a></li>
        <li class="divider"></li>  
        <li><a href="#bt-ta-1" data-toggle="tab">Aesthetics <span class="count hide"></span></a></li>  
        <li><a href="#bt-ta-2" data-toggle="tab">Cardiovascular <span class="count hide"></span></a></li>  

      </ul>

      <div class="tab-content col-sm-8 set-height has-searchbox two-tier-select-child">
        
        <div class="tab-pane active in" id="bt-ta-1">

          <ul class="collapsable-tree">
            <li>
              <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-aesthetics"></span>
              <div class="checkbox">
                <label><input type="checkbox" name="bt-ta1-checkboxes">Aesthetics</label>
              </div>
              <ul class="collapse" id="bt-aesthetics">
                <li>
                  <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-BreastImplantsandReconstructiveDevices"></span>
                  <div class="checkbox">
                    <label><input type="checkbox" name="bt-ta1-1-checkboxes" value="Breast Implants and Reconstructive Devices">Breast Implants and Reconstructive Devices</label>
                  </div>
                  <ul class="collapse" id="bt-BreastImplantsandReconstructiveDevices">
                    <li>
                    <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-BreastImplant"></span>
                      <div class="checkbox">
                        <label><input type="checkbox" name="bt-ta1-1-checkboxes" value="Breast Implants">Breast Implants</label>
                      </div>
                      <ul class="collapse" id="bt-BreastImplant">
                        <li>
                          <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-NorthAmerica"></span>
                          <div class="checkbox">
                            <label><input type="checkbox" name="bt-ta1-1-checkboxes" value="North America">North America</label>
                          </div>
                          <ul class="collapse" id="bt-NorthAmerica">
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-1-checkboxes" value="United States">United States</label>
                              </div>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-Europe"></span>
                          <div class="checkbox">
                            <label><input type="checkbox" name="bt-ta1-1-checkboxes" value="Europe">Europe</label>
                          </div>
                          <ul class="collapse" id="bt-Europe">
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-1-checkboxes" value="France">France</label>
                              </div>
                            </li>
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-1-checkboxes" value="Germany">Germany</label>
                              </div>
                            </li>
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-1-checkboxes" value="Spain">Spain</label>
                              </div>
                            </li>
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-1-checkboxes" value="United Kingdom">United Kingdom</label>
                              </div>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="tab-pane active in" id="bt-ta-2">

          <ul class="collapsable-tree">
            <li>
              <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-Cardiovascular"></span>
              <div class="checkbox">
                <label><input type="checkbox" name="bt-ta1-checkboxes">Cardiovascular</label>
              </div>
              <ul class="collapse" id="bt-Cardiovascular">
                <li>
                  <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-AorticRepairDevices"></span>
                  <div class="checkbox">
                    <label><input type="checkbox" name="bt-ta1-1-checkboxes" value="Aortic Repair Devices">Aortic Repair Devices</label>
                  </div>
                  <ul class="collapse" id="bt-AorticRepairDevices">
                    <li>
                    <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-AAA"></span>
                      <div class="checkbox">
                        <label><input type="checkbox" name="bt-ta1-1-checkboxes" value="AAA">AAA</label>
                      </div>
                      <ul class="collapse" id="bt-AAA">
                        <li>
                          <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-NorthAmerica2"></span>
                          <div class="checkbox">
                            <label><input type="checkbox" name="bt-ta1-1-checkboxes" value="North America">North America</label>
                          </div>
                          <ul class="collapse" id="bt-NorthAmerica2">
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-1-checkboxes" value="United States">United States</label>
                              </div>
                            </li>
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-1-checkboxes" value="United States">United States <span class="label label-default">Custom</span></label>
                              </div>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-Europe2"></span>
                          <div class="checkbox">
                            <label><input type="checkbox" name="bt-ta1-1-checkboxes" value="Europe">Europe</label>
                          </div>
                          <ul class="collapse" id="bt-Europe2">
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-1-checkboxes" value="France">France</label>
                              </div>
                            </li>
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-1-checkboxes" value="Germany">Germany</label>
                              </div>
                            </li>
                            <li>
                              <div class="checkbox disabled not-owned">
                                <label><input type="checkbox" name="bt-ta1-1-checkboxes" value="Spain" disabled="disabled"><span class="not-owned-tag"></span>Spain</label>
                              </div>
                            </li>
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-1-checkboxes" value="United Kingdom">United Kingdom</label>
                              </div>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-EVAR"></span>
                      <div class="checkbox">
                        <label><input type="checkbox" name="bt-ta1-1-checkboxes" value="EVAR">EVAR</label>
                      </div>
                      <ul class="collapse" id="bt-EVAR">
                        <li>
                          <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-NorthAmerica3"></span>
                          <div class="checkbox">
                            <label><input type="checkbox" name="bt-ta1-1-checkboxes" value="North America">North America</label>
                          </div>
                          <ul class="collapse" id="bt-NorthAmerica3">
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-1-checkboxes" value="United States">United States</label>
                              </div>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-Europe3"></span>
                          <div class="checkbox">
                            <label><input type="checkbox" name="bt-ta1-1-checkboxes" value="Europe">Europe</label>
                          </div>
                          <ul class="collapse" id="bt-Europe3">
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-1-checkboxes" value="France">France</label>
                              </div>
                            </li>
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-1-checkboxes" value="Germany">Germany</label>
                              </div>
                            </li>
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-1-checkboxes" value="Spain">Spain</label>
                              </div>
                            </li>
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-1-checkboxes" value="United Kingdom">United Kingdom</label>
                              </div>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>                  
        
      </div>
      
    </div>
    <div class="row no-padding tab-pane fade" id="bt-byRegion">


      <ul class="col-sm-4 list-unstyled set-height two-tier-select-parent">
        <li class="active"><a href="#bt-show-all" data-toggle="tab" id="bt-tabAll">All Markets</a></li>
        <li class="divider"></li>  
        <li><a href="#bt-re-1" data-toggle="tab">North America <span class="count hide"></span></a></li>  
        <li><a href="#bt-re-2" data-toggle="tab">Europe <span class="count hide"></span></a></li>  
      </ul>

      <div class="tab-content col-sm-8 set-height has-searchbox two-tier-select-child">
        
        <div class="tab-pane active in" id="bt-re-1">

          <ul class="collapsable-tree">
            <li>
              <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-byRegionNorthAmerica"></span>
              <div class="checkbox">
                <label><input type="checkbox" name="bt-ta1-checkboxes">North America</label>
              </div>
              <ul class="collapse" id="bt-byRegionNorthAmerica">
                <li>
                  <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-byRegionUS"></span>
                  <div class="checkbox">
                    <label><input type="checkbox" name="bt-ta1-checkboxes">United States</label>
                  </div>
                  <ul class="collapse" id="bt-byRegionUS">
                    <li>
                      <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-byRegionUSAesthetics"></span>
                      <div class="checkbox">
                        <label><input type="checkbox" name="bt-ta1-checkboxes">Aesthetics</label>
                      </div>
                      <ul class="collapse" id="bt-byRegionUSAesthetics">
                        <li>
                          <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-byRegionUSAestheticsBreastImplantsandReconstructiveDevices"></span>
                          <div class="checkbox">
                            <label><input type="checkbox" name="bt-ta1-checkboxes">Breast Implants and Reconstructive Devices</label>
                          </div>
                          <ul class="collapse" id="bt-byRegionUSAestheticsBreastImplantsandReconstructiveDevices">
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-checkboxes">Breast Implants</label>
                              </div>                            
                            </li>
                          </ul>
                        </li>
                      </ul>                  
                    </li>
                    <li>
                      <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-byRegionUSCardiovascular"></span>
                      <div class="checkbox">
                        <label><input type="checkbox" name="bt-ta1-checkboxes">Cardiovascular</label>
                      </div>
                      <ul class="collapse" id="bt-byRegionUSCardiovascular">
                        <li>
                          <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-byRegionUSCardiovascularAorticRepairDevices"></span>
                          <div class="checkbox">
                            <label><input type="checkbox" name="bt-ta1-checkboxes">Aortic Repair Devices</label>
                          </div>
                          <ul class="collapse" id="bt-byRegionUSCardiovascularAorticRepairDevices">
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-checkboxes">AAA</label>
                              </div>                            
                            </li>
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-checkboxes">EVAR</label>
                              </div>                            
                            </li>
                          </ul>
                        </li>
                      </ul>                  
                    </li>
                  </ul>
                </li>                
              </ul>
            </li>
          </ul>
        </div>

        <div class="tab-pane active in" id="bt-re-2">

          <ul class="collapsable-tree">
            <li>
              <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-byRegionEurope"></span>
              <div class="checkbox">
                <label><input type="checkbox" name="bt-ta1-checkboxes">Europe</label>
              </div>
              <ul class="collapse" id="bt-byRegionEurope">
                <li>
                  <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-byRegionFrance"></span>
                  <div class="checkbox">
                    <label><input type="checkbox" name="bt-ta1-checkboxes">France</label>
                  </div>
                  <ul class="collapse" id="bt-byRegionFrance">
                    <li>
                      <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-byRegionFranceAesthetics"></span>
                      <div class="checkbox">
                        <label><input type="checkbox" name="bt-ta1-checkboxes">Aesthetics</label>
                      </div>
                      <ul class="collapse" id="bt-byRegionFranceAesthetics">
                        <li>
                          <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-byRegionFranceAestheticsBreastImplantsandReconstructiveDevices"></span>
                          <div class="checkbox">
                            <label><input type="checkbox" name="bt-ta1-checkboxes">Breast Implants and Reconstructive Devices</label>
                          </div>
                          <ul class="collapse" id="bt-byRegionFranceAestheticsBreastImplantsandReconstructiveDevices">
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-checkboxes">Breast Implants</label>
                              </div>                            
                            </li>
                          </ul>
                        </li>
                      </ul>                  
                    </li>
                    <li>
                      <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-byRegionFranceCardiovascular"></span>
                      <div class="checkbox">
                        <label><input type="checkbox" name="bt-ta1-checkboxes">Cardiovascular</label>
                      </div>
                      <ul class="collapse" id="bt-byRegionFranceCardiovascular">
                        <li>
                          <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-byRegionFranceCardiovascularAorticRepairDevices"></span>
                          <div class="checkbox">
                            <label><input type="checkbox" name="bt-ta1-checkboxes">Aortic Repair Devices</label>
                          </div>
                          <ul class="collapse" id="bt-byRegionFranceCardiovascularAorticRepairDevices">
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-checkboxes">AAA</label>
                              </div>                            
                            </li>
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-checkboxes">EVAR</label>
                              </div>                            
                            </li>
                          </ul>
                        </li>
                      </ul>                  
                    </li>
                  </ul>
                </li>
                <li>
                  <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-byRegionGermany"></span>
                  <div class="checkbox">
                    <label><input type="checkbox" name="bt-ta1-checkboxes">Germany</label>
                  </div>
                  <ul class="collapse" id="bt-byRegionGermany">
                    <li>
                      <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-byRegionGermanyAesthetics"></span>
                      <div class="checkbox">
                        <label><input type="checkbox" name="bt-ta1-checkboxes">Aesthetics</label>
                      </div>
                      <ul class="collapse" id="bt-byRegionGermanyAesthetics">
                        <li>
                          <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-byRegionGermanyBreastImplantsandReconstructiveDevices"></span>
                          <div class="checkbox">
                            <label><input type="checkbox" name="bt-ta1-checkboxes">Breast Implants and Reconstructive Devices</label>
                          </div>
                          <ul class="collapse" id="bt-byRegionGermanyBreastImplantsandReconstructiveDevices">
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-checkboxes">Breast Implants</label>
                              </div>                            
                            </li>
                          </ul>
                        </li>
                      </ul>                  
                    </li>
                    <li>
                      <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-byRegionGermanyCardiovascular"></span>
                      <div class="checkbox">
                        <label><input type="checkbox" name="bt-ta1-checkboxes">Cardiovascular</label>
                      </div>
                      <ul class="collapse" id="bt-byRegionGermanyCardiovascular">
                        <li>
                          <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-byRegionGermanyCardiovascularAorticRepairDevices"></span>
                          <div class="checkbox">
                            <label><input type="checkbox" name="bt-ta1-checkboxes">Aortic Repair Devices</label>
                          </div>
                          <ul class="collapse" id="bt-byRegionGermanyCardiovascularAorticRepairDevices">
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-checkboxes">AAA</label>
                              </div>                            
                            </li>
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-checkboxes">EVAR</label>
                              </div>                            
                            </li>
                          </ul>
                        </li>
                      </ul>                  
                    </li>
                  </ul>
                </li>
                <li>
                  <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-byRegionSpain"></span>
                  <div class="checkbox">
                    <label><input type="checkbox" name="bt-ta1-checkboxes">Spain</label>
                  </div>
                  <ul class="collapse" id="bt-byRegionSpain">
                    <li>
                      <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-byRegionSpainAesthetics"></span>
                      <div class="checkbox">
                        <label><input type="checkbox" name="bt-ta1-checkboxes">Aesthetics</label>
                      </div>
                      <ul class="collapse" id="bt-byRegionSpainAesthetics">
                        <li>
                          <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-byRegionSpainBreastImplantsandReconstructiveDevices"></span>
                          <div class="checkbox">
                            <label><input type="checkbox" name="bt-ta1-checkboxes">Breast Implants and Reconstructive Devices</label>
                          </div>
                          <ul class="collapse" id="bt-byRegionSpainBreastImplantsandReconstructiveDevices">
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-checkboxes">Breast Implants</label>
                              </div>                            
                            </li>
                          </ul>
                        </li>
                      </ul>                  
                    </li>
                    <li>
                      <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-byRegionSpainCardiovascular"></span>
                      <div class="checkbox">
                        <label><input type="checkbox" name="bt-ta1-checkboxes">Cardiovascular</label>
                      </div>
                      <ul class="collapse" id="bt-byRegionSpainCardiovascular">
                        <li>
                          <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-byRegionSpainCardiovascularAorticRepairDevices"></span>
                          <div class="checkbox">
                            <label><input type="checkbox" name="bt-ta1-checkboxes">Aortic Repair Devices</label>
                          </div>
                          <ul class="collapse" id="bt-byRegionSpainCardiovascularAorticRepairDevices">
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-checkboxes">AAA</label>
                              </div>                            
                            </li>
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-checkboxes">EVAR</label>
                              </div>                            
                            </li>
                          </ul>
                        </li>
                      </ul>                  
                    </li>
                  </ul>
                </li>
                <li>
                  <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-byRegionUK"></span>
                  <div class="checkbox">
                    <label><input type="checkbox" name="bt-ta1-checkboxes">United Kingdom</label>
                  </div>
                  <ul class="collapse" id="bt-byRegionUK">
                    <li>
                      <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-byRegionUKAesthetics"></span>
                      <div class="checkbox">
                        <label><input type="checkbox" name="bt-ta1-checkboxes">Aesthetics</label>
                      </div>
                      <ul class="collapse" id="bt-byRegionUKAesthetics">
                        <li>
                          <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-byRegionUKBreastImplantsandReconstructiveDevices"></span>
                          <div class="checkbox">
                            <label><input type="checkbox" name="bt-ta1-checkboxes">Breast Implants and Reconstructive Devices</label>
                          </div>
                          <ul class="collapse" id="bt-byRegionUKBreastImplantsandReconstructiveDevices">
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-checkboxes">Breast Implants</label>
                              </div>                            
                            </li>
                          </ul>
                        </li>
                      </ul>                  
                    </li>
                    <li>
                      <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-byRegionUKCardiovascular"></span>
                      <div class="checkbox">
                        <label><input type="checkbox" name="bt-ta1-checkboxes">Cardiovascular</label>
                      </div>
                      <ul class="collapse" id="bt-byRegionUKCardiovascular">
                        <li>
                          <span class="fa fa-minus-circle collapsed" data-toggle="collapse" href="#bt-byRegionUKCardiovascularAorticRepairDevices"></span>
                          <div class="checkbox">
                            <label><input type="checkbox" name="bt-ta1-checkboxes">Aortic Repair Devices</label>
                          </div>
                          <ul class="collapse" id="bt-byRegionUKCardiovascularAorticRepairDevices">
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-checkboxes">AAA</label>
                              </div>                            
                            </li>
                            <li>
                              <div class="checkbox checkbox-lowest-level">
                                <label><input type="checkbox" name="bt-ta1-checkboxes">EVAR</label>
                              </div>                            
                            </li>
                          </ul>
                        </li>
                      </ul>                  
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>                  
        
      </div>
      

    </div>
  </div>	            
</div> 
<div class="clearfix"></div> 
<div class="modal-footer">
  <button type="button" class="btn btn-lg btn-primary pull-left goto-step1"><i class="fa fa-arrow-left" aria-hidden="true"></i> Previous</button>
  <button type="button" class="btn btn-lg btn-primary pull-right goto-step3 disabled">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
  <div class="device-counts text-center">
    <p><span class="total-count">0</span> Selected</p>
    <p>
      <button type="button" class="btn btn-link disabled deselect-all">Deselect All</button>
    </p>
  </div>
</div>