{#  <div class="col-xs-12 col-md-9 search-main-results"> 
#}  <div class="shadow-box">
    <div class="error-page">
      <h1>Sorry, we couldn't find any results for <br> <strong>{{ content.query }}</strong></h1>
      <h2>Please check your spelling or try a more general search term</h2>
    </div>
    <div class="consulting-advert">
      <h4>Can't find what you're looking for?</h4>
      <p>Our experts can provide Real World Data and custom analysis on your area of interest.</p>
      <p class="request-information"><a href="javascript:void(0);" class="btn btn-primary" data-toggle="modal" data-target="#consultingAdvert">Request More Information</a></p>
    </div>
  </div>
{#  </div>#}