<div class="col-xs-12">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- page-sidebar -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:250px"
       data-ad-client="ca-pub-1104568852756410"
       data-ad-slot="1493161522"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  
</div>