<div class="col-xs-12">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- leaderboard -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-1104568852756410"
       data-ad-slot="7724701415"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>