<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Meet the Team</h4>
  </div>
  <div class="analyst-details"> <img alt="Andrea Merseth" src="app-assets/images/analysts/andrea.jpg">
    <p class="analyst-name">Andrea Merseth</p>
    <p class="analyst-title">Lead Analyst, Metabolic Disorders</p>
    <a href="#" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">Ask the Expert</a> <a href="#" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">View Bio</a>
  </div>
  <div class="panel-footer related-footer">
    <p><a href="disease-9analysts.html">View all Experts</a></p>
	</div>
</div>