<div class="panel panel-default landing-page-panel" style="height:369px;">
  <div class="panel-body">
    <div class="chart-title">
      <h2>Webinars</h2>
      <h3>Upcoming Webinars</h3>
      <article class="webinar">
        <div class="webinar-date">
          <span class="webinar-month">Aug</span>
    			<span class="webinar-day">17</span>
    		</div>
        <h4 class="webinar-title"><a href="http://www.webex.com" target="_blank">Payers’ Formulary-Management Expectations for Biosimilars and Next-Generation Biologics</a></h4>
        <p class="webinar-info">4pm GMT, 11am EST &bull; Anees Malik</p>
        <a href="http://www.webex.com" target="_blank" class="btn btn-primary"><i class="fa fa-pencil"></i> Register Now</a>
      </article>
      <hr class="dotted">
      <h3>Previous Webinars on 
        <div class="btn-group title-button">
          <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"> Oncology <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Endocrinology</a></li>
            <li><a href="#">Immunology</a></li>
            <li><a href="#">Nephrology</a></li>
            <li class="active"><a href="#">Oncology</a></li>
            <li><a href="#">Payer Insights</a></li>            
          </ul>
        </div>     
      </h3>
      <article class="webinar">
        <a href="drug-biosimilars3.html" title="Play video" class="play"></a>
        <h4 class="webinar-title"><a href="drug-biosimilars3.html">Commercial Considerations for Rituximab Biosimilar Competitors</a></h4>
        <p class="webinar-info">3 December 2015 &bull; Tom Hutchings</p>
        <a  href="drug-biosimilars3.html" class="btn btn-primary"><i class="fa fa-play-circle fa-lg"></i> Watch Video</a>

      </article>
    </div>
    
  </div>
</div>