<div class="panel panel-default landing-page-panel">
  
  <div class="panel-body"> 
    <div class="chart-title">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"><span class="fa fa-lg fa-arrow-circle-down"></span><span class="hide"> Download </span><span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#"><span class="icon icon-powerpoint"></span> Chart to PowerPoint</a></li>
          <li><a href="#"><span class="icon icon-excel"></span> Data to Excel</a></li>
        </ul>
      </div>
      <h2>Performance</h2>
      <h3>Ethical Drug Sales vs Revenue</h3>
    </div> 
    <div id="lineChart1" style="height:220px; margin-top:30px;"></div>
  </div>
  <div class="panel-footer text-right">
    <a href="#">Read More <i class="fa fa-caret-right fa-lg"></i></a>
  </div>
</div>


<script type="text/javascript">
	// Donut 1
	var lineChart1 = {
		chart: {
            renderTo: 'lineChart1',
        },
		        xAxis: {
            categories: ['2010', '2011', '2012', '2013', '2014']
        },
		series: [{
            name: 'Total Revenue',
            data: [51560, 59375, 57505, 58830, 59276],
            marker: { symbol: 'circle'}
        }, {
            name: 'Ethical Drug Sales',
            data: [41875, 46966, 45611, 46612, 46623],
            marker: { symbol: 'circle'}
        }]
  };
	lineChart1 = jQuery.extend(true, {}, lineChart, lineChart1);
  var lineChart1 = new Highcharts.Chart(lineChart1);
</script>