<div class="panel panel-default landing-page-panel">
  
  <div class="panel-body">
    <div class="chart-title">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"><span class="fa fa-lg fa-arrow-circle-down"></span><span class="hide"> Download </span><span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#"><span class="icon icon-powerpoint"></span> Chart to PowerPoint</a></li>
          <li><a href="#"><span class="icon icon-excel"></span> Data to Excel</a></li>
        </ul>
      </div> 
      <h2>Financials</h2>
      <h3>Key Metrics 2014</h3>
    </div>
    <div class="row half-padding">
      <div class="col-sm-6">
        <h4 class="stat-number"><i class="fa fa-arrow-up" style="color:#96c93d"></i>#1</h4>
        <h5 class="stat-description">Company Ranking</h5>
        <h4 class="stat-number"><i class="fa fa-arrow-up" style="color:#96c93d"></i>7.7%</h4>
        <h5 class="stat-description">5-Year Freshness Index</h5>
        <h4 class="stat-number"><i class="fa fa-arrow-up" style="color:#96c93d"></i>30.3%</h4>
        <h5 class="stat-description">10-Year Freshness Index</h5>
      </div>
      <div class="col-sm-6">
        <h4 class="stat-number"><i class="fa fa-arrow-up" style="color:#96c93d"></i>29.3%</h4>
        <h5 class="stat-description">Leading Product Index</h5>
        <h4 class="stat-number"><i class="fa fa-arrow-down fa-lg" style="color:#f47c6c"></i>43.7%</h4>
        <h5 class="stat-description">Blockbuster Index</h5>
        <h4 class="stat-number"><i class="fa fa-arrow-down fa-lg" style="color:#f47c6c"></i>17.2%</h4>
        <h5 class="stat-description">Business Development Index</h5>
      </div>
    </div>
  </div>
  <div class="panel-footer text-right">
    <a href="disease-3epidemiology-1.html">Read More <i class="fa fa-caret-right fa-lg"></i></a>
  </div>
</div>