<div class="panel panel-default landing-page-panel">
  <div class="panel-body">
    <div class="chart-title">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"><span class="fa fa-lg fa-arrow-circle-down"></span><span class=" text-hide">Downloads</span><span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#"><span class="icon icon-powerpoint"></span> Chart to PowerPoint</a></li>
          <li><a href="#"><span class="icon icon-excel"></span> Data to Excel</a></li>
        </ul>
      </div>
    <h2>Growth Factors</h2>
    <h3><i class="fa fa-arrow-up fa-lg" style="color:#96c93d"></i> Drivers</h3>
    </div>
    <ul class="dash-bullets">
      <li>Rising prevalence of diabetes</li>
      <li>Adoption of advanced technology</li>
      <li>Early diagnosis of diabetes and proactive treatment</li>
      <li>Insurance coverage</li>
    </ul>
    <hr class="dotted">
    <h3 class="h4"><i class="fa fa-arrow-down fa-lg" style="color:#f47c6c"></i> Constraints</h3> 
    <ul class="dash-bullets">
      <li>Price competition</li>
    </ul>
  </div>
  <div class="panel-footer text-right">
    <a href="#">Go to Growth Factors <i class="fa fa-caret-right fa-lg"></i></a>
  </div>
</div>
