<div class="panel panel-default landing-page-panel">
  <div class="panel-body">
    <div class="chart-title">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"><span class="fa fa-lg fa-arrow-circle-down"></span><span class=" text-hide">Downloads</span><span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#"><span class="icon icon-powerpoint"></span> Chart to PowerPoint</a></li>
          <li><a href="#"><span class="icon icon-excel"></span> Data to Excel</a></li>
        </ul>
      </div>
      <h2>Competitive Landscape</h2>
      <h3>Market Leaders in 
        <div class="btn-group title-button">
          <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"> the US <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu">
            <li class="active"><a href="#">the US</a></li>
            <li><a href="#">Europe</a></li>
          </ul>
        </div>
        in 2014
      </h3> 
    </div>               
    <table class="table drug-table">
      <tbody>
        <tr>
          <td><span class="drug-number">1</span></td>
          <td> <a href="#" class="drug-name">Sanofi <a href="#" class="drug-info">Insulin Delivery Devices</a></td>
          <td class="text-right"> <span class="drug-value">$3,894 MM</span></td>
        </tr>
        <tr>
          <td><span class="drug-number">2</span></td>
          <td> <a href="#" class="drug-name">Novo Nordisk<a href="#" class="drug-info">Glucose Monitoring Devices</a></td>
          <td class="text-right"> <span class="drug-value">$2,803 MM</span></td>
        </tr>
        <tr>
          <td><span class="drug-number">3</span></td>
          <td> <a href="#" class="drug-name">Eli Lily  <a href="#" class="drug-info">All Segments</a></td>
          <td class="text-right"> <span class="drug-value">$1,844 MM</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel-footer text-right">
    <a href="#">Go to Competitive Landscape <i class="fa fa-caret-right fa-lg"></i></a>
  </div>
</div>
