<div class="panel panel-default">
  <div class="panel-heading"> 
    <h4>Related Drugs <span class="count">(12)</span></h4>
  </div>
  <ul class="panel-body related-links">
    <li><a href="#">Dulaglutide</a></li>
    <li><a href="drug-1dashboard.html">Humira</a></li>
    <li><a href="#">Insulindegludec/liraglutide</a> </li>
    <li><a href="#">Omarigliptin</a></li>
    <li><a href="#">Semaglutide</a></li>
  </ul>
  <div class="panel-footer related-footer">
    <p><a href="#" data-toggle="modal" data-target="#related-provider">View all Drugs</a></p>
	</div>
</div>