<div class="panel panel-default landing-page-panel">
  
  <div class="panel-body" style="min-height:370px">
    <div class="chart-title">
      <h2>About Humira</h2>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <dl class="dl-vertical dl-dashboard">
          <dt>Company</dt>
          <dd>
            <p><a href="#">Abbott</a> <span class="smalltext">Corporate Acquisition</span></p>
            <p><a href="#">AbbVie</a> <span class="smalltext">Corporate Acquisition</span></p>
            <p><a href="#">Eisai</a> <span class="smalltext">Licensed (Development)</span></p>
          </dd>
          <dt>Status</dt>
          <dd><p>Launched</p></dd>
          <dt>Year of Launch</dt>
          <dd><p>2007</p></dd>
        </dl>
      </div>
      <div class="col-sm-6">
        <dl class="dl-vertical dl-dashboard">
          <dt>Classification</dt>
          <dd>
            <p><a href="#">Dermatology</a> <span class="smalltext">Crohn's Disease</span></p>
            <p><a href="#">Gastrointestinal</a> <span class="smalltext">Inflammatory Bowel Disease</span></p>
            <p><a href="#">Musculoskeletal / Pain</a> <span class="smalltext">Rheumatoid Arthritis</span></p>
          </dd>
          <dt>Technology</dt>
          <dd><p>Antibody Derivative</p></dd>
          <dt>Earliest Generic Entry</dt>
          <dd>
            <p>2017 - United States</p>
            <p>2018 - Rest of the World</p>
          </dd>
        </dl>
      </div>                
    </div>
  </div>
</div>