<div class="panel panel-default landing-page-panel">
  
  <div class="panel-body">
    <div class="chart-title">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"><span class="fa fa-lg fa-arrow-circle-down"></span><span class="hide-xs"> Download </span><span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#"><span class="icon icon-powerpoint"></span> Chart to PowerPoint</a></li>
          <li><a href="#"><span class="icon icon-excel"></span> Data to Excel</a></li>
        </ul>
      </div>
      <h2>Market Leaders</h2>
      <h3>  
        <div class="btn-group title-button">
          <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"> All Segments <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu">
            <li class="checkbox"><label><input type="checkbox" checked name="group-checkboxes">VADs</label></li>
            <li class="checkbox"><label><input type="checkbox" checked name="group-checkboxes">IABP Disposables</label></li>
            <li class="checkbox"><label><input type="checkbox" checked name="group-checkboxes">TAHs</label></li>
          </ul>
        </div>
        in
        <div class="btn-group title-button">
          <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"> All Markets <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu">
            <li class="checkbox"><label><input type="checkbox" checked name="group-checkboxes">United States</label></li>
            <li class="checkbox"><label><input type="checkbox" checked name="group-checkboxes">Europe</label></li>
            <li class="checkbox"><label><input type="checkbox" checked name="group-checkboxes">Asia Pacific</label></li>
          </ul>
        </div>
        in
        <div class="btn-group title-button">
          <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"> 2015 <span class="caret"></span></button>
          <ul class="dropdown-menu set-height" role="menu">
            <li class="dropdown-header">Actual</li>
            <li><a href="#">2013</a></li>
            <li><a href="#">2014</a></li>
            <li class="active"><a href="#">2015</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Forecast</li>
            <li><a href="#">2016</a></li>
            <li><a href="#">2017</a></li>
            <li><a href="#">2018</a></li>
            <li><a href="#">2019</a></li>
            <li><a href="#">2020</a></li>
            <li><a href="#">2021</a></li>
            <li><a href="#">2022</a></li>
            <li><a href="#">2023</a></li>
          </ul>
        </div>
      </h3>
    </div> 
    <div class="donut-container" style="width:100%;">
      <div id="donutChart1" style="height:235px;"></div>
      <div id="donutChart1addText" class="donut-add-text"></div>
    </div>
  </div>
  <div class="panel-footer text-right">
    <a href="#" class="pull-left methodology" data-target="#ModalMethod2" data-toggle="modal"><i class="fa fa-lg fa-question-circle"></i> Methodology</a>
    <a href="#">Go to Name of Section <i class="fa fa-caret-right fa-lg"></i></a>  </div>
</div>


<script type="text/javascript">
	// Donut 1
	var donutData1 = {
		chart: {
      renderTo: 'donutChart1',
    },
    plotOptions: {
		pie: {
			allowPointSelect: true,
			cursor: 'pointer',
			dataLabels: {
				enabled: false
			},
			showInLegend: true,
			innerSize: '50%',
		}
	},
	legend: {
		layout: 'vertical',
		align: 'right',
		verticalAlign: 'middle',
		useHTML: true,
		itemStyle: { fontSize: '12px'},
    labelFormatter: function() {
			return ('<span style="width:120px; height: 16px; overflow:hidden; font-size: 12px; line-height: 16px; text-overflow:ellipsis; display:block; white-space:nowrap;" title="' + this.name + '">' + this.name + '</span>');
		}
	},
		series: [{
			type: 'pie',
			data: [['St. Jude Medical', 295],
			       ['Abiomed', 242],
			       ['HeartWare', 80],
			       ['Getinge Group', 4],
			       ['SynCardia Systems', 4],
			       ['Others', 1]]
		}]
  };
	donutChart1 = jQuery.extend(true, {}, donut, donutData1);
  var donutChart1 = new Highcharts.Chart(donutChart1,       
    function(donutChart1) {
      var textX = donutChart1.plotLeft + (donutChart1.plotWidth  * 0.5);
      var textY = donutChart1.plotTop  + (donutChart1.plotHeight * 0.5);

      var span = '<span id="donutChart1Text" class="donut-text">';
      span    += '<span style="font-size:12px;line-height:16px;display:block;white-space:nowrap">Market Value</span>';
      span    += '<span style="font-size:16px;line-height:18px;display:block;font-weight: bold;">$622M</span>';
      span    += '</span>';

      $("#donutChart1addText").append(span);
      span = $('#donutChart1Text');
      span.css('left', textX + (span.width() * -0.5));
      span.css('top', textY + (span.height() * -0.5));
    }
  );

</script>