<div class="panel panel-default landing-page-panel">
  <div class="panel-body">
    <div class="chart-title">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"><span class="fa fa-lg fa-arrow-circle-down"></span><span class="hide-xs"> Download </span><span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#"><span class="icon icon-powerpoint"></span> Chart to PowerPoint</a></li>
          <li><a href="#"><span class="icon icon-excel"></span> Data to Excel</a></li>
        </ul>
      </div>
      <h2>Key Clinical Trials</h2>
    </div>
    <ol class="num-list">
      <li><a href="#" class="medtech-trial">Thoratec HeartMate II Left Ventricular Assist System for Destination Therapy <span class="small">Extend Completion: August 2017</span></a></li>
      <li><a href="#" class="medtech-trial">Risk Assessment and Comparative Effectiveness of LVAD and Medical Management (ROADMAP) <span class="small">Phase 1 Completed March 2016</span></a></li>
      <li><a href="#" class="medtech-trial">Screening for Advanced Heart Failure Treatment (SEE-HF) <span class="small">Completed May 2016</span></a></li>
    </ul>
  </div>
  <div class="panel-footer text-right">
    <a href="#" class="pull-left methodology" data-target="#ModalMethod2" data-toggle="modal"><i class="fa fa-lg fa-question-circle"></i> Methodology</a>
    <a href="#">Go to Name of Section <i class="fa fa-caret-right fa-lg"></i></a>  </div>
</div>
