<div class="panel panel-default landing-page-panel">
  <div class="panel-body">
    <div class="chart-title">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"><span class="fa fa-lg fa-arrow-circle-down"></span><span class="hide-xs"> Download </span><span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#"><span class="icon icon-powerpoint"></span> Chart to PowerPoint</a></li>
          <li><a href="#"><span class="icon icon-excel"></span> Data to Excel</a></li>
        </ul>
      </div>
      <h2>Market Drivers &amp; Limiters</h2>
      <h3>   
        <div class="btn-group title-button">
          <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"> Total Market <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu">
            <li class="active"><a href="#">All Segments</a></li>
            <li><a href="#">Durable VADs</a></li>
            <li><a href="#">Temporary VADs</a></li>
            <li><a href="#">IABP Disposables</a></li>
            <li><a href="#">TAHs</a></li>
          </ul>
        </div>
        in
        <div class="btn-group title-button">
          <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"> United States <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu">
            <li class="active"><a href="#">United States</a></li>
            <li><a href="#">Europe</a></li>
            <li><a href="#">Asia Pacific</a></li>
          </ul>
        </div>
      </h3>      
    </div>
    <table class="table drivers-table">
      <tbody>
        <tr>
          <td>
	          Increasing number of trained physicians
          </td>
          <td class="text-right"><i class="fa fa-plus-circle" aria-hidden="true"></i> <i class="fa fa-plus-circle" aria-hidden="true"></i> <i class="fa fa-plus-circle" aria-hidden="true"></i></td>
        </tr>
        <tr>
          <td>Adoption of new technologies</td>
          <td class="text-right"><i class="fa fa-plus-circle" aria-hidden="true"></i> <i class="fa fa-plus-circle" aria-hidden="true"></i> <i class="fa fa-plus-circle" aria-hidden="true"></i></td>

        </tr>
        <tr>
          <td>Positive clinical trial data</td>
          <td class="text-right"><i class="fa fa-plus-circle" aria-hidden="true"></i> <i class="fa fa-plus-circle" aria-hidden="true"></i> <i class="fa fa-plus-circle" aria-hidden="true"></i></td>
        </tr>
        <tr>
          <td>Increasing number of accredited centers</td>
          <td class="text-right"><i class="fa fa-plus-circle" aria-hidden="true"></i></td>
        </tr>
        <tr>
          <td>Broader approved indications</td>
          <td class="text-right"><i class="fa fa-minus-circle" aria-hidden="true"></i> <i class="fa fa-minus-circle" aria-hidden="true"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel-footer text-right">
    <a href="#" class="pull-left methodology" data-target="#ModalMethod2" data-toggle="modal"><i class="fa fa-lg fa-question-circle"></i> Methodology</a>
    <a href="#">Go to Name of Section <i class="fa fa-caret-right fa-lg"></i></a>  </div>
</div>
