<div class="panel panel-default landing-page-panel">
  
  <div class="panel-body">
    <div class="chart-title">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"><span class="fa fa-lg fa-arrow-circle-down"></span><span class="hide-xs"> Download </span><span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#"><span class="icon icon-powerpoint"></span> Chart to PowerPoint</a></li>
          <li><a href="#"><span class="icon icon-excel"></span> Data to Excel</a></li>
        </ul>
      </div> 
      <h2>Latest Events</h2>
    </div>

      <div class="timeline-container">


    <div class="timeline-wrapper">
      

        <h3 class="timeline-year">2016</h3>
  
        <h4 class="timeline-month">April</h4>
        <h5 class="timeline-headline">The Impella 2.5, CP, 5.0, and LD catheters receive FDA approval for cardiogenic shock indication</h5>
        <h5 class="timeline-headline">Labeling allows for use of Impella beyond intended 4- to 6-day period in cases of unforeseen circumstances</h5>
  
        <h4 class="timeline-month">March</h4>
        <h5 class="timeline-headline">CardiacAssist changes company name to TandemLife</h5>
        <h5 class="timeline-headline">Begins offering portable temporary extracorporeal life support device that can offer both heart and lung support</h5>
        <h5 class="timeline-headline">FIM results are published for the V-Wave device</h5>
        <h5 class="timeline-headline">V-Wave states that pivotal trials are being planned for North America, Europe, and Israel (V-Wave, press release, March 28, 2016)</h5>
        <h5 class="timeline-headline">Sunshine Heart stops US COUNTER-HF study of ts C-Pulse therapy</h5>
        <h5 class="timeline-headline">Teleflex announces a Class I worldwide recall of several IAB catheter kits</h5>
        <h5 class="timeline-headline">The recall includes more than 47,000 units distributed worldwide</h5>
        <h5 class="timeline-headline">Receives IDE approval from FDA for a multicenter study of the IASD</h5>
        <h5 class="timeline-headline">Company enters into an exclusive option-to-purchase agreement with an undisclosed strategic partner</h5>
  
        <h4 class="timeline-month">February</h4>
        <h5 class="timeline-headline">Early findings of the SynCardia 50cc TAH IDE trial show the highest rate of implantations in females for a TAH</h5>
        <h5 class="timeline-headline">FDA originally approved IDE study in March 2015</h5>
  
        <h4 class="timeline-month">January</h4>
        <h5 class="timeline-headline">St. Jude Medical reveals that it is applying for a National Coverage Decision from CMS regarding its CardioMEMS product</h5>
        <h5 class="timeline-headline">This is in response to unsupportive coverage decisions from Medicare Administrative Contractors in 2015</h5>
  
        <h3 class="timeline-year">2014</h3>
  
        <h4 class="timeline-month">December</h4>
        <h5 class="timeline-headline">Publishes HM3 CE Mark study results for HeartMate 3</h5>
        <h5 class="timeline-headline">Results are some of the best to date for a durable VAD</h5>
      </div>
    </div>
  </div>
  <div class="panel-footer text-right">
    <a href="#" class="pull-left methodology" data-target="#ModalMethod2" data-toggle="modal"><i class="fa fa-lg fa-question-circle"></i> Methodology</a>
    <a href="#">Go to Name of Section <i class="fa fa-caret-right fa-lg"></i></a>
  </div>
</div>