<div class="panel panel-default landing-page-panel">
  <div class="panel-body">
    <div class="chart-title">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"><span class="fa fa-lg fa-arrow-circle-down"></span><span class="hide-xs"> Download </span><span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#"><span class="icon icon-powerpoint"></span> Chart to PowerPoint</a></li>
          <li><a href="#"><span class="icon icon-excel"></span> Data to Excel</a></li>
        </ul>
      </div>
      <h2>Event Timeline</h2>
    </div>
    
    <section class="cd-horizontal-timeline">
	<div class="timeline">
		<div class="events-wrapper">
			<div class="events">
				<ol>
					<li><a href="#0" data-date="01/10/2015" class="older-event">Oct 15</a></li>
					<li><a href="#0" data-date="02/10/2015" class="older-event">Oct 15</a></li>
					<li><a href="#0" data-date="01/12/2015" class="older-event">Dec 15</a></li>
					<li><a href="#0" data-date="01/01/2016" class="older-event">Jan 16</a></li>
					<li><a href="#0" data-date="01/02/2016" class="older-event">Feb 16</a></li>
					<li><a href="#0" data-date="01/03/2016" class="older-event">Mar 16</a></li>
					<li><a href="#0" data-date="02/03/2016" class="older-event">Mar 16</a></li>
					<li><a href="#0" data-date="03/03/2016" class="older-event">Mar 16</a></li>
					<li><a href="#0" data-date="04/03/2016" class="older-event">Mar 16</a></li>
					<li><a href="#0" data-date="05/03/2016" class="older-event">Mar 16</a></li>
					<li><a href="#0" data-date="01/04/2016" class="selected">Apr 16</a></li>
				</ol>

				<span class="filling-line" aria-hidden="true"></span>
			</div> <!-- .events -->
		</div> <!-- .events-wrapper -->
			
		<ul class="cd-timeline-navigation">
			<li><a href="#0" class="prev inactive">Prev</a></li>
			<li><a href="#0" class="next">Next</a></li>
		</ul> <!-- .cd-timeline-navigation -->
	</div> <!-- .timeline -->

	<div class="events-content">
		<ol>

			<li data-date="01/10/2015">
				<em>October 2015</em>
				<h2>Thoratec/St. Jude Medical</h2>
				<p>St. Jude Medical completes acquisition of Thoratec</p>
			</li>

			<li data-date="02/10/2015">
				<em>October 2015</em>
				<h2>SynCardia Systems, Inc.</h2>
				<p>Withdraws IPO</p>
				<p>SynCardia subsequently hires investment bank to advise its board of directors on strategic options</p>
			</li>

			<li data-date="01/12/2015">
				<em>December 2015</em>
				<h2>St. Jude Medical - HeartMate 3</h2>
				<p>Publishes HM3 CE Mark study results for HeartMate 3</p>
				<p>Results are some of the best to date for a durable VAD</p>
			</li>

			<li data-date="01/01/2016">
				<em>January 2016</em>
				<h2>St. Jude Medical - CardioMEMS</h2>
				<p>St. Jude Medical reveals that it is applying for a National Coverage Decision from CMS regarding its CardioMEMS product</p>
				<p>This is in response to unsupportive coverage decisions from Medicare Administrative Contractors in 2015</p>
			</li>

			<li data-date="01/02/2016">
				<em>February 2016</em>
				<h2>SynCardia Systems, Inc. - SynCardia 50cc TAH</h2>
				<p>Early findings of the SynCardia 50cc TAH IDE trial show the highest rate of implantations in females for a TAH</p>
				<p>FDA originally approved IDE study in March 2015</p>
			</li>

			<li data-date="01/03/2016">
				<em>March 2016</em>
				<h2>Corvia Medical - IASD</h2>
				<p>Receives IDE approval from FDA for a multicenter study of the IASD</p>
				<p>Company enters into an exclusive option-to-purchase agreement with an undisclosed strategic partner</p>
			</li>

			<li data-date="02/03/2016">
				<em>March 2016</em>
				<h2>Teleflex - Arrow</h2>
				<p>Teleflex announces a Class I worldwide recall of several IAB catheter kits</p>
				<p>The recall includes more than 47,000 units distributed worldwide</p>
			</li>

			<li data-date="03/03/2016">
				<em>March 2016</em>
				<h2>Sunshine Heart - C-Pulse</h2>
				<p>Sunshine Heart stops US COUNTER-HF study of ts C-Pulse therapy</p>
				<p>Announces plan for redesigned C-Pulse trial</p>
			</li>

			<li data-date="04/03/2016">
				<em>March 2016</em>
				<h2>V-Wave</h2>
        <p>FIM results are published for the V-Wave device</p>
        <p>V-Wave states that pivotal trials are being planned for North America, Europe, and Israel (V-Wave, press release, March 28, 2016)</p>
			</li>

			<li data-date="05/03/2016">
				<em>March 2016</em>
				<h2>CardiacAssist/TandemLife</h2>
				<p>CardiacAssist changes company name to TandemLife</p>
        <p>Begins offering portable temporary extracorporeal life support device that can offer both heart and lung support</p>
			</li>

			<li class="selected" data-date="01/04/2016">
				<em>April 2016</em>
				<h2>Abiomed - Impella</h2>
				<p>The Impella 2.5, CP, 5.0, and LD catheters receive FDA approval for cardiogenic shock indication</p>
        <p>Labeling allows for use of Impella beyond intended 4- to 6-day period in cases of unforeseen circumstances</p>
			</li>
		</ol>
	</div> <!-- .events-content -->
</section>
    
    
    
  </div>
  <div class="panel-footer text-right">
    <a href="#" class="pull-left methodology" data-target="#ModalMethod2" data-toggle="modal"><i class="fa fa-lg fa-question-circle"></i> Methodology</a>
    <a href="#">Go to Name of Section <i class="fa fa-caret-right fa-lg"></i></a>  </div>
</div>