<div class="panel-body">
  <div class="chart-title">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"><span class="fa fa-lg fa-arrow-circle-down"></span><span class=" text-hide">Downloads</span><span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#"><span class="icon icon-powerpoint"></span> Chart to PowerPoint</a></li>
      </ul>
    </div>
    <h2 class="hide">Access &amp; Reimbursement</h2>
    <h3>Key Considerations</h3>
  </div>
  <h4>US</h4>
  <ul class="dash-bullets">
    <li>Medicare Advantage plans provide less favorable coverage than commercial plans.</li>
    <li>Emerging therapies obtain low cost-sharing through discounted price.</li>
    <li>HEOR does not always secure preferred plan coverage.</li>
  </ul>
  <hr class="dotted">   
  <h4>EU5</h4>
  <ul class="dash-bullets">
    <li>HTA is the firmly established P&amp;R gatekeeper for T2D therapies.</li>
    <li>Level of benefit/value/innovation drives P&amp;R terms.</li>
    <li>However, the use of HbA1c to determine efficacy is unlikely to result in additional benefit.</li>
  </ul>
</div>
<div class="panel-footer text-right">
  <a href="disease-7marketaccess-1.html">Read More <i class="fa fa-caret-right fa-lg"></i></a>
</div>