<div class="panel panel-default landing-page-panel">
  <div class="panel-body">
    <h3 class="h4">Market Size in 
      <div class="btn-group title-button">
        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"> US, EU5, Japan <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
            <li class="checkbox">
              <label>
                <input type="checkbox" checked name="group-checkboxes">
                US
              </label>
            </li>
            <li class="checkbox">
              <label>
                <input type="checkbox" checked name="group-checkboxes">
                EU5
              </label>
            </li>
            <li class="checkbox">
              <label>
                <input type="checkbox" checked name="group-checkboxes">
                Japan
              </label>
            </li>
            <li class="checkbox">
              <label>
                <input type="checkbox" name="group-checkboxes">
                China
              </label>
            </li>
          </ul>
      </div>
    </h3> 
    <div id="container" class="stacked-bar"></div>
    
  </div>
  <div class="panel-footer text-right">
    <a href="overview.html">Go to Overview &amp; Forecast <i class="fa fa-caret-right fa-lg"></i></a>
  </div>
</div>