<div class="panel panel-default landing-page-panel">
  <div class="panel-body">
    <div class="chart-title">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"><span class="fa fa-lg fa-arrow-circle-down"></span><span class=" text-hide">Downloads</span><span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#"><span class="icon icon-excel"></span> Data to Excel</a></li>
        </ul>
      </div>
      <h2>Emerging Treatment</h2>
      <h3>Ranked by Sales in 2021</h3> 
    </div>
    <table class="table drug-table">
      <tbody>
        <tr>
	      <td><span class="drug-number">1</span></td>
          <td>
	          <a href="#" class="drug-name">Entresto <span class="molecule-name">(sacubitril + valsartan)</span></a>
            <span class="drug-info">Approved - Launching 2016</span>
          </td>
          <td class="text-right">
	        <span class="drug-value">$3,348m</span>
          </td>
        </tr>
        <tr>
	      <td><span class="drug-number">2</span></td>
          <td>
	          <a href="#" class="drug-name">Reasanz <span class="molecule-name">(serelaxin)</span></a>
            <span class="drug-info">Phase III - Launching 2017</span>
          </td>
          <td class="text-right">
	        <span class="drug-value">$1,119m</span>
	      </td>
        </tr>
        <tr>
	      <td><span class="drug-number">3</span></td>
          <td>
	          <a href="#" class="drug-name">pradigastat <span class="molecule-name">(LCQ908)</span></a>
            <span class="drug-info">Phase III - Launching 2016</span>
          </td>
          <td class="text-right">
	        <span class="drug-value">$523m</span>
	      </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel-footer text-right">
    <a href="#">Go to Pipeline <i class="fa fa-caret-right fa-lg"></i></a>
  </div>
</div>
