<div class="panel-body">
  <div class="chart-title">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"><span class="fa fa-lg fa-arrow-circle-down"></span><span class=" text-hide">Downloads</span><span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#"><span class="icon icon-powerpoint"></span> Chart to PowerPoint</a></li>
      </ul>
    </div>
    <h2 class="hide">Unmet Need</h2>
    <h3>Top Unmet Needs</h3>  
  </div>
  <ol class="num-list">
    <li>Drugs with improved long-term efficacy</li>
    <li>Drugs targeting diabetic complications</li>
    <li>Drugs with disease-modifying capabilities</li>
  </ol>  
</div>
<div class="panel-footer text-right">
  <a href="disease-5unmetneed-1.html">Read More <i class="fa fa-caret-right fa-lg"></i></a>
</div>
